@font-face {
    font-family: "Segoe UI";
    src: local("Segoe UI") url("segoeui.ttf");
}

::selection {
    background: #E87600;
    color: #fff;
}
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}
::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}

body {
    font-size: 16px;
    font-family: "Segoe UI";
    background-color: #F5F5F5;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

#searchbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 64px;
    background-color: #E87600;
    background: linear-gradient(to bottom, rgb(199,64,0)0%, rgb(232,118,0)92%, rgb(199,64,0)100%);
}

#main {
    position: fixed;
    left: 0;
    right: 0;
    top: 64px;
    bottom: 0;
    background: radial-gradient(ellipse at center,rgb(242,245,246)0%,rgb(227,234,237)50%,rgb(200,215,220)100%);
}

#title {
    position: absolute;
    font-size: 32px;
    font-weight: 600;
    left: 24px;
    top: 8px;
    cursor: default;
    z-index: 5;
    overflow: visible;
    white-space: nowrap;
    transform-origin: 0 100%;
    margin-top: 0px;
    color: #fff;
    text-shadow: 0px 0px 4px #444444;
    transition: .2s;
}

@media screen and (max-width: 975px) {
    #title {
        transform: rotate(90deg) translate(32px, 8px);
        color: #E87600;
        text-shadow: 0px 0px 1px #444444;
    }
}

#txtSearch {
    outline: 0;
    border: 0;
    border-radius: 2px;
    padding: 4px 8px;
    color: black;
    box-shadow: inset 0 2px 6px rgba(96,96,96,.5);
    font-family: "Segoe UI";
    text-align: center;
    font-size: 20px;
    margin: 2px;
    width: 400px;
    margin-top: 12px;
    transition: .2s;

    background-color: rgb(224,224,224);
    background-image: url(search.svgz);    
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: 4px 4px;
}

.bar-button {
    position: absolute;
    top: 6px;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    transition: .2s;

    background-size: 44px 44px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

.bar-button:hover {
    box-shadow: rgba(0,0,0,.5) 0 0 4px inset;
}

.bar-button:active {
    background-color: rgba(0,0,0,.1);
    box-shadow: rgba(0,0,0,.5) 0 0 4px inset;
}

#btnViewas {
    right: 6px;
}

#btnViewas > div {
    position: absolute;
    background-color: #202020;
    border-radius: 2px;
    transition: .6s;
}

#btnGetContacts {
    right: 64px;
    background-image: url(download.svgz);
}

#btnGetContacts:hover { background-position-y: 0px; }

#btnGetContacts:active { background-position-y: 4px; }

.viewas-list > div:nth-child(1) { left:10px;  top:4px;   width:34px; height:4px; }
.viewas-list > div:nth-child(2) { left:10px;  top:11px;  width:34px; height:4px; }
.viewas-list > div:nth-child(3) { left:10px;  top:18px;  width:34px; height:4px; }
.viewas-list > div:nth-child(4) { left:10px;  top:25px;  width:34px; height:4px; }
.viewas-list > div:nth-child(5) { left:10px;  top:32px;  width:34px; height:4px; }
.viewas-list > div:nth-child(6) { left:10px;  top:39px;  width:34px; height:4px; }

.viewas-card > div:nth-child(1) { left:4px;  top:4px;  width:18px; height:12px; } 
.viewas-card > div:nth-child(2) { left:24px; top:4px;  width:18px; height:12px; }
.viewas-card > div:nth-child(3) { left:4px;  top:18px; width:18px; height:12px; }
.viewas-card > div:nth-child(4) { left:24px; top:18px; width:18px; height:12px; }
.viewas-card > div:nth-child(5) { left:4px;  top:32px; width:18px; height:12px; }
.viewas-card > div:nth-child(6) { left:24px; top:32px; width:18px; height:12px; }

.viewas-list > div:before {
    opacity: 1;
    background-color: black;
    border-radius: 2px;
    content: " ";
    position: absolute;
    top: 0px;
    left: -6px;
    width: 4px;
    height: 4px;
    transition: opacity .4s;
}

.viewas-card > div:before {
    opacity: 0;
    content: " ";
    transition: opacity .4s;
}

@media screen and (max-width: 640px) {
    #txtSearch {
        width: 90%;
    }

    #btnViewas, #btnGetContacts {
        opacity: 0;
        visibility: hidden;
        right: -40%;
    }
}

#container {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0;
    padding: 0 64px;
    overflow-y: scroll;
}

/* - - - - - - - - - - - - - - - - - */

#container > div {
    border: solid 1px rgba(127,127,127,.5);
    cursor: default;
    backface-visibility: hidden;

    animation-name: itemin;
    animation-iteration-count: 1;

    transition: transform .2s, opacity .2s,  background-color 0s;
}

#container div div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 22px;
}

#container div div:nth-child(n+2) {
    padding-left: 24px;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 1px 2px;
}

#container div div:nth-child(2) { background-image: url(user.svg); }
#container div div:nth-child(3) { background-image: url(department.svg); }
#container div div:nth-child(4) { background-image: url(email.svg); }
#container div div:nth-child(5) { background-image: url(phone.svg); }
#container div div:nth-child(6) { background-image: url(mobile.svg); }
#container div div:nth-child(7) { background-image: url(mobile.svg); }

.card {
    float: left;
    width: 250px;
    height: 150px;
    padding: 8px;
    margin: 8px;

    border-radius: 4px;
    background-color: #F4F7F8;

    box-shadow: rgba(0,0,0,.5) 1px 1px 4px;
}

.card div:nth-child(1) {
    text-align: center;
    font-weight: bold;

    border-width: 2px;
    border-bottom-width: 2px;
    margin-bottom: 2px;
    border-bottom-color: #E87600;
    border-bottom-style: solid;
}

.card:hover div:nth-child(1) {
    border-bottom-color: #222;
}

.card:hover {
    background-color: rgba(232,118,0,.75) !important;
    text-shadow: white 0 0 4px;
}


.list {
    position: relative;
    height: 22px;
    padding: 0 4px;
    margin: 2px 0;            

    border-radius: 2px;
    background-color: #F4F7F8;

    box-shadow: none;
}

.list div {
    position: absolute;
    top: 0;
}
.list div:nth-child(1) { left:4px; width:28%; font-weight: bold; }
.list div:nth-child(2) { left:30%; width:calc(20% - 20px); }
.list div:nth-child(3) { visibility: hidden; }
.list div:nth-child(4) { left:50%; width:calc(20% - 20px); }
.list div:nth-child(5) { left:70%; width:calc(15% - 20px); }
.list div:nth-child(6) { left:85%; width:calc(15% - 20px); }
.list div:nth-child(n+7) { visibility: hidden; }

.list:hover {
    background-color: rgba(232,118,0,.75) !important;
}

/* - - - - - - - - - - - - - - - - - */

.disable {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0,0,0,.33);
    
    filter: none !important;
    transition:.2s; -webkit-transition:.2s;

    animation-name: fadein;
    animation-duration: .1s;
    animation-iteration-count: 1;

    perspective: 800px;
    perspective-origin: center;
}


.dialog {
    position: relative;
    margin: 96px auto;
    width: 500px;
    height: 300px;
    border-radius: 4px;

    padding: 8px;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    transform: scale(.5);
    transition: .4s;

    background-color: #202020;
    box-shadow: rgba(16, 16, 16, 0.4) 12px 12px 16px, rgba(0, 0, 0, 0.4) 0px 0px 6px inset;
}

.dialog * {
    color: #E0E0E0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: large;
    max-height: 24px;
    text-shadow: black 0 0 4px;
    padding: 4px 8px;

    cursor: default;

    user-select: text !important;
    -webkit-user-select: text !important;
    -webkit-user-drag: text !important;
}

.dialog > * {
    min-height: 24px;
    padding-left: 32px;
    background-size: 24px 24px;
    background-position: 2px 4px;
    background-repeat: no-repeat;
    font-size: 20px;
}

.dialog > *:nth-child(2) { background-image: url(l_user.svg); }
.dialog > *:nth-child(3) { background-image: url(l_department.svg); }
.dialog > *:nth-child(4) { background-image: url(l_email.svg); }
.dialog > *:nth-child(5) { background-image: url(l_phone.svg); }
.dialog > *:nth-child(6) { background-image: url(l_mobile.svg); }
.dialog > *:nth-child(7) { background-image: url(l_mobile.svg); }

.dialog a {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.dialog > * {
    color: #eee;
    height: 32px;

    user-select: text;
    -webkit-user-select: text;
}

.dialog *:nth-child(1) {
    text-align: center;
    font-weight: bold;

    border-width: 2px;
    border-bottom-width: 2px;
    margin-bottom: 4px;
    border-bottom-color: rgb(232,118,0);
    border-bottom-style: solid;
}

.dialog *:nth-child(n+2):hover {
    border-radius: 4px;
    background-color: rgba(232,118,0,.8);
}

.closebox {
    color: white;
    position: absolute;
    text-align: center;
    cursor: default;
    font-size: 20px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #202020;
    box-shadow: rgba(16, 16, 16, 0.4) 12px 12px 16px;
    border: 1.5px solid rgb(232,118,0);
    left: 50%;
    top: 80px;
    transform: translateX(240px);
    padding: 2px;
    z-index: 10;

    animation-name: fadein;
    animation-duration: .8s;
    animation-iteration-count: 1;

    transition: .2s;
}

.closebox:hover {
    text-shadow: white 0 0 4px;
    transform: translateX(240px) scale(1.05);
}

@keyframes itemin {
    0% {opacity: 0; transform: translateX(32px);}
    100% {opacity: 1; transform: none;}
}

@keyframes fadein {
    0%{opacity: 0;}
    100%{opacity: 1;}
}