button, input[type="button"], input[type="submit"], input[type="reset"], input[type="color"] {
    font-size: var(--global-font-size);
    font-family: var(--global-font-family);

    background-color: rgb(96,96,96);
    color: rgb(224,224,224);
    outline: 0;
    border: 0;
    min-width: 72px;
    height: 28px;
    margin: 4px;
    border-radius: 4px;
    
    transition: .15s;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="color"]:hover {
    background-color: rgb(112,112,112);
}

button:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="color"]:focus {
    animation: inner-glow 2s infinite linear;
}

button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, input[type="color"]:active {
    background-color: rgb(128,128,128);
}

button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, input[type="color"]:disabled {
    opacity: .6;
    background-color: rgb(96,96,96) !important;
}

@keyframes inner-glow {
    0%   { box-shadow: rgba(255,102,0,.8) 0 0 4px 2px, rgba(255,102,0,1) 0 0 1px 1px inset; }
    50%  { box-shadow: rgba(255,102,0,.2) 0 0 4px 2px, rgba(255,102,0,1) 0 0 1px 1px inset; }
    100% { box-shadow: rgba(255,102,0,.8) 0 0 4px 2px, rgba(255,102,0,1) 0 0 1px 1px inset; }
}

@keyframes inner-glow-ligth {
    0%   { box-shadow: rgba(255,102,0,.8) 0 0 2px 1px, rgba(255,102,0,1) 0 0 1px 1px inset; }
    50%  { box-shadow: rgba(255,102,0,.2) 0 0 2px 1px, rgba(255,102,0,1) 0 0 1px 1px inset; }
    100% { box-shadow: rgba(255,102,0,.8) 0 0 2px 1px, rgba(255,102,0,1) 0 0 1px 1px inset; }
}