.db-buttons {
    margin: 16px 0 16px 32px;
}

.db-proberties {
    background-color: var(--pane-color);
    color: rgb(32,32,32);
    border-radius: 4px;

    width: calc(100% - 64px);
    max-width: 720px;
    min-height: 320px;
    margin: 16px 32px 16px 32px;
    padding: 8px;
}


.db-property {
    width: 100%;
    max-width: 800px;
    min-height: 22px;
    padding: 4px 0 2px 0;
    border-radius: 2px;
    overflow: hidden;
    transition: background-color .2s;
}

.db-property-group {
    max-width: 800px;
    height: 32px;
    margin-top: 24px;
    background-color: rgb(176,176,176);
    overflow: hidden;
}

.db-property-group > div {
    display: inline-block;
}

.db-property-group > div:nth-child(1) {
    width: 32px;
    height: 32px;
    background-size: cover;
    margin-left: 4px;
}

.db-property-group > div:nth-child(2) {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
    margin: 4px;
}

.db-property:hover {
    background-color: var(--select-color);
}

.db-property > div {
    display: inline-table;
}

.db-property > div:nth-child(1) {
    margin-left: 12px;
    width: calc(40% - 16px);

    /*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
}

.db-property > div:nth-child(2) {
    width: calc(60% - 16px);
    font-weight: 600;
    user-select: text;
    -webkit-user-select: text;
}

.db-property > div:nth-child(2) > div { /*multiple value boxes*/
    display: inline-block;
    border: 1px black solid;
    border-radius: 2px;
    padding: 0 1px;
    margin: -1px 2px 0 2px;
}

.db-property:hover > div:nth-child(3) {
    visibility: visible;
    opacity: 1;
    transition-delay: .8s;
}
.db-property > div:nth-child(3) {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    
    overflow: hidden;
    font-style: italic;
    border: 1px black solid;
    border-radius: 2px;
    background-color: #202020;
    color: rgb(224,224,224);
    right: 0;
    max-width: 60%;
    width: auto;
    height: 20px;
    padding: 0px 4px;
  
    transition: opacity .2s;
}


.db-progress-bar {
    display: block !important;
    border: none !important;
}

.db-progress-bar  > div {
    display: inline-block;
}

.db-progress-bar  > div:nth-child(1) {
    min-width: 18px;
    padding-right: 8px;
}

.db-progress-bar  > div:nth-child(2) {
    display: inline-block;
    width: 100px;
    height: 12px;
    border: black 1px solid;
    border-radius: 2px;
    margin: 1px;
    margin-bottom: -2px;

    transition: 1s;
}

.db-progress-bar  > div:nth-child(3) {
    padding-left: 8px;
    font-size: small;
}