.db-buttons {
    position: absolute;
    left: 200px;
    right: 8px;
    top: 16px;
    max-height: 36px;
    overflow: hidden;
}

.db-sidetools {
    position: absolute;
    top: 16px;
    left: 8px;

    width: 175px;
}

.db-sidetools > div {
    background-color: var(--pane-color);
    color: rgb(32,32,32);

    border-radius: 4px;
    padding: 2px;
    margin: 0 0 4px 0;
    min-width: 120px;
    max-width: 250px;

    transition: .2s;
}

.db-sidetools > div:hover {
    background-color: var(--highlight-color);
}

.db-sidetools > div:active {
    background-color: var(--select-color);
}

.db-sidetools > div[busy] > div::after {
    content: "";
    position: absolute;
    right: 4px;
    width: 20px;
    height: 20px;

    border-style: solid;
    border-radius: 50%;
    border-width: 3px 4px 4px 0px;
    border-color: #202020 #202020  transparent transparent;
    box-sizing: border-box;
    animation: spin 2s linear infinite;
}

.db-sidetools > div > div {
    padding: 4px 4px 4px 36px;
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position: 4px 50%;
}


.db-scroll {
    position: absolute;
    top: 60px;
    bottom: 8px;
    left: 200px;
    right: 8px;
    max-width: 800px;
    overflow-y: auto;
}

.db-proberties {
    background-color: var(--pane-color);
    color: rgb(32,32,32);
    border-radius: 4px;
    min-height: 240px;
    padding: 8px;
    margin-right: 4px;
}


.db-property {
    width: 100%;
    min-height: 22px;
    padding: 4px 0 2px 0;
    border-radius: 2px;
    overflow: hidden;
    transition: background-color .2s;
}

.db-property-group {
    max-width: 800px;
    height: 32px;
    margin-top: 24px;
    background-color: rgb(168,168,168);
    overflow: hidden;
}

.db-property-group > div {
    display: inline-block;
}

.db-property-group > div:nth-child(1) {
    width: 32px;
    height: 32px;
    background-size: cover;
    margin-left: 4px;
}

.db-property-group > div:nth-child(2) {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
    margin: 4px;
}

.db-property:hover {
    background-color: var(--highlight-color);
}

.db-property:active {
    transition-delay: .4s;
    background-color: var(--select-color);
}

.db-property > div {
    display: inline-table;
}

.db-property > div:nth-child(1) {
    margin-left: 12px;
    width: calc(40% - 16px);

    /*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
}

.db-property > div:nth-child(2) {
    width: calc(60% - 16px);
    font-weight: 600;
    user-select: text;
    -webkit-user-select: text;
}

.db-property > div:nth-child(2) > div { /*multiple value boxes*/
    display: inline-block;
    border: 1px black solid;
    border-radius: 2px;
    padding: 0 1px;
    margin: -1px 2px 0 2px;
}

.db-property:hover > div:nth-child(3) {
    visibility: visible;
    opacity: 1;
    right: 15px;
    transition-delay: .8s;
}
.db-property > div:nth-child(3) {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    
    right: 4px;

    overflow: hidden;
    font-style: italic;
    border: 1px black solid;
    border-radius: 2px;
    background-color: #202020;
    color: rgb(224,224,224);
    max-width: 60%;
    width: auto;
    font-size: 13px;
    height: 12px;
    padding: 0px 4px;
  
    transition: .2s;
}

.db-progress-bar {
    display: block !important;
    border: none !important;
}

.db-progress-bar  > div {
    display: inline-block;
}

.db-progress-bar  > div:nth-child(1) {
    min-width: 18px;
    padding-right: 8px;
}

.db-progress-bar  > div:nth-child(2) {
    display: inline-block;
    width: 100px;
    height: 12px;
    border: black 1px solid;
    border-radius: 2px;
    margin: 1px;
    margin-bottom: -2px;

    transition: 1s;
}

.db-progress-bar  > div:nth-child(3) {
    padding-left: 8px;
    font-size: small;
    font-weight: 400;
}

.db-live > div {
    display: inline-block;
    background-color: var(--pane-color);
    color: rgb(32,32,32);
    border-radius: 4px;
    padding: 8px;
    margin: 0 8px 8px 0;
    min-width: 120px;
    max-width: 250px;

    padding-left: 40px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: 4px 50%;
    box-sizing: border-box;
    transition: .2s;
}

.db-live > div:hover {
    background-color: var(--highlight-color);
}

.db-live > div:active {
    background-color: var(--select-color);
}