input[type="range"] {
    -webkit-appearance: none;
    height: 14px;
    border-radius: 4px;
    background-color: var(--control-color);
    outline: none;
    /*overflow: hidden;*/
}

    input[type="range"]::-ms-slider-thumb {
        background-color: #FF6600;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 24px;
        height: 24px;
        outline: none;
        border-radius: 50%;
        background-color: var(--theme-color);
        box-shadow: rgba(0,0,0,.5) -1px 0 2px;
        transition: transform .2s;
    }

    input[type="range"]::-moz-range-thumb {
        width: 24px;
        height: 24px;
        outline: none;
        border-radius: 50%;
        background: var(--theme-color);
        box-shadow: rgba(0,0,0,.5) -1px 0 2px;
        transition: transform .2s;
    }

    input[type="range"]:focus {
        animation: inner-glow-ligth 2s infinite linear;
    }
