@font-face { /*light*/
    font-family: "Open Sans";
    src: local("Open Sans"), url("opensans300.ttf") format("truetype");
    font-weight: 300;
}
@font-face { /*normal*/
    font-family: "Open Sans";
    src: local("Open Sans"), url("opensans400.ttf") format("truetype");
    font-weight: 400;
}
@font-face { /*semi-bold*/
    font-family: "Open Sans";
    src: local("Open Sans"), url("opensans600.ttf") format("truetype");
    font-weight: 600;
}
@font-face { /*bold*/
    font-family: "Open Sans";
    src: local("Open Sans"), url("opensans700.ttf") format("truetype");
    font-weight: 700;
}
/*@font-face { extra-bold
    font-family: "Open Sans";
    src: local("Open Sans"), url("opensans800.ttf") format("truetype");
    font-weight: 800;
}*/

:root {
    --sidemenu-width: 360px;
    --theme-color: rgb(255,102,0);
    --select-color: rgb(232,118,0);
    --control-color: rgb(160,160,160);
    --global-font-size: 15px;
    --global-font-family: "Open Sans";

    --toolbar-bg: linear-gradient(to bottom, rgb(199,64,0)0%, rgb(232,118,0)92%, rgb(199,64,0)100%);
    --toolbar-bg-rev: linear-gradient(to bottom, rgb(199,64,0)0%, rgb(232,118,0)2%, rgb(199,64,0)100%);

    --bg:
        linear-gradient(158deg,rgba(84,84,84,.02) 0%,rgba(84,84,84,.02) 20%,rgba(219,219,219,.02) 20%,rgba(219,219,219,.02) 40%,rgba(54,54,54,.02) 40%,rgba(54,54,54,.02) 60%,rgba(99,99,99,.02) 60%,rgba(99,99,99,.02) 80%,rgba(92,92,92,.02) 80%,rgba(92,92,92,.02) 100%),
        linear-gradient(45deg,rgba(221,221,221,.01) 0%,rgba(221,221,221,.01) 14.286%,rgba(8,8,8,.01) 14.286%,rgba(8,8,8,.01) 28.572%,rgba(52,52,52,.01) 28.572%,rgba(52,52,52,.01) 42.858%,rgba(234,234,234,.01) 42.858%,rgba(234,234,234,.01) 57.144%,rgba(81,81,81,.01) 57.144%,rgba(81,81,81,.01) 71.43%,rgba(239,239,239,.01) 71.43%,rgba(239,239,239,.01) 85.716%,rgba(187,187,187,.01) 85.716%,rgba(187,187,187,.01) 100.002%),
        linear-gradient(109deg,rgba(33,33,33,.02) 0%,rgba(33,33,33,.02) 12.5%,rgba(147,147,147,.02) 12.5%,rgba(147,147,147,.02) 25%,rgba(131,131,131,.02) 25%,rgba(131,131,131,.02) 37.5%,rgba(151,151,151,.02) 37.5%,rgba(151,151,151,.02) 50%,rgba(211,211,211,.02) 50%,rgba(211,211,211,.02) 62.5%,rgba(39,39,39,.02) 62.5%,rgba(39,39,39,.02) 75%,rgba(55,55,55,.02) 75%,rgba(55,55,55,.02) 87.5%,rgba(82,82,82,.02) 87.5%,rgba(82,82,82,.02) 100%),
        linear-gradient(348deg,rgba(42,42,42,.01) 0%,rgba(42,42,42,.01) 20%,rgba(8,8,8,.01) 20%,rgba(8,8,8,.01) 40%,rgba(242,242,242,.01) 40%,rgba(242,242,242,.01) 60%,rgba(42,42,42,.01) 60%,rgba(42,42,42,.01) 80%,rgba(80,80,80,.01) 80%,rgba(80,80,80,.01) 100%),
        linear-gradient(120deg,rgba(106,106,106,.02) 0%,rgba(106,106,106,.02) 14.286%,rgba(67,67,67,.02) 14.286%,rgba(67,67,67,.02) 28.572%,rgba(134,134,134,.02) 28.572%,rgba(134,134,134,.02) 42.858%,rgba(19,19,19,.02) 42.858%,rgba(19,19,19,.02) 57.144%,rgba(101,101,101,.02) 57.144%,rgba(101,101,101,.02) 71.43%,rgba(205,205,205,.02) 71.43%,rgba(205,205,205,.02) 85.716%,rgba(53,53,53,.02) 85.716%,rgba(53,53,53,.02) 100.002%),
        linear-gradient(45deg,rgba(214,214,214,.02) 0%,rgba(214,214,214,.02) 16.667%,rgba(255,255,255,.02) 16.667%,rgba(255,255,255,.02) 33.334%,rgba(250,250,250,.02) 33.334%,rgba(250,250,250,.02) 50.001%,rgba(231,231,231,.02) 50.001%,rgba(231,231,231,.02) 66.668%,rgba(241,241,241,.02) 66.668%,rgba(241,241,241,.02) 83.335%,rgba(31,31,31,.02) 83.335%,rgba(31,31,31,.02) 100.002%),
        linear-gradient(59deg,rgba(224,224,224,.02) 0%,rgba(224,224,224,.02) 12.5%,rgba(97,97,97,.02) 12.5%,rgba(97,97,97,.02) 25%,rgba(143,143,143,.02) 25%,rgba(143,143,143,.02) 37.5%,rgba(110,110,110,.02) 37.5%,rgba(110,110,110,.02) 50%,rgba(34,34,34,.02) 50%,rgba(34,34,34,.02) 62.5%,rgba(155,155,155,.02) 62.5%,rgba(155,155,155,.02) 75%,rgba(249,249,249,.02) 75%,rgba(249,249,249,.02) 87.5%,rgba(179,179,179,.02) 87.5%,rgba(179,179,179,.02) 100%),
        linear-gradient(241deg,rgba(58,58,58,.01) 0%,rgba(58,58,58,.01) 25%,rgba(124,124,124,.01) 25%,rgba(124,124,124,.01) 50%,rgba(254,254,254,.01) 50%,rgba(254,254,254,.01) 75%,rgba(52,52,52,.01) 75%,rgba(52,52,52,.01) 100%),
        radial-gradient(ellipse at center, rgb(242,245,246) 0%,rgb(227,234,237) 50%,rgb(200,215,220) 100%);

    --bg-light:
        linear-gradient(158deg, rgba(84,84,84,0.03)0%, rgba(84,84,84,0.03)20%, rgba(219,219,219,0.03)20%, rgba(219,219,219,0.03)40%, rgba(54,54,54,0.03)40%, rgba(54,54,54,0.03)60%, rgba(99,99,99,0.03)60%, rgba(99,99,99,0.03)80%, rgba(92,92,92,0.03)80%, rgba(92,92,92,0.03)100%),
        linear-gradient(45deg, rgba(221,221,221,0.02)0%, rgba(221,221,221,0.02)14.286%, rgba(8,8,8,0.02)14.286%, rgba(8,8,8,0.02)28.572%, rgba(52,52,52,0.02)28.572%, rgba(52,52,52,0.02)42.858%, rgba(234,234,234,0.02)42.858%, rgba(234,234,234,0.02)57.144%, rgba(81,81,81,0.02)57.144%, rgba(81,81,81,0.02)71.43%, rgba(239,239,239,0.02)71.43%, rgba(239,239,239,0.02)85.716%, rgba(187,187,187,0.02)85.716%, rgba(187,187,187,0.02)100.002%),
        linear-gradient(109deg, rgba(33,33,33,0.03)0%, rgba(33,33,33,0.03)12.5%, rgba(147,147,147,0.03)12.5%, rgba(147,147,147,0.03)25%, rgba(131,131,131,0.03)25%, rgba(131,131,131,0.03)37.5%, rgba(151,151,151,0.03)37.5%, rgba(151,151,151,0.03)50%, rgba(211,211,211,0.03)50%, rgba(211,211,211,0.03)62.5%, rgba(39,39,39,0.03)62.5%, rgba(39,39,39,0.03)75%, rgba(55,55,55,0.03)75%, rgba(55,55,55,0.03)87.5%, rgba(82,82,82,0.03)87.5%, rgba(82,82,82,0.03)100%),
        linear-gradient(348deg,rgba(42,42,42,0.02)0%, rgba(42,42,42,0.02)20%, rgba(8,8,8,0.02)20%, rgba(8,8,8,0.02)40%, rgba(242,242,242,0.02)40%, rgba(242,242,242,0.02)60%, rgba(42,42,42,0.02)60%, rgba(42,42,42,0.02)80%, rgba(80,80,80,0.02)80%, rgba(80,80,80,0.02)100%),
        linear-gradient(120deg, rgba(106,106,106,0.03)0%, rgba(106,106,106,0.03)14.286%, rgba(67,67,67,0.03)14.286%, rgba(67,67,67,0.03)28.572%, rgba(134,134,134,0.03)28.572%, rgba(134,134,134,0.03)42.858%, rgba(19,19,19,0.03)42.858%, rgba(19,19,19,0.03)57.144%, rgba(101,101,101,0.03)57.144%, rgba(101,101,101,0.03)71.43%, rgba(205,205,205,0.03)71.43%, rgba(205,205,205,0.03)85.716%, rgba(53,53,53,0.03)85.716%, rgba(53,53,53,0.03)100.002%),
        linear-gradient(45deg, rgba(214,214,214,0.03)0%, rgba(214,214,214,0.03)16.667%, rgba(255,255,255,0.03)16.667%, rgba(255,255,255,0.03)33.334%, rgba(250,250,250,0.03)33.334%, rgba(250,250,250,0.03)50.001%, rgba(231,231,231,0.03)50.001%, rgba(231,231,231,0.03)66.668%, rgba(241,241,241,0.03)66.668%, rgba(241,241,241,0.03)83.335%, rgba(31,31,31,0.03)83.335%, rgba(31,31,31,0.03)100.002%),
        linear-gradient(59deg, rgba(224,224,224,0.03)0%, rgba(224,224,224,0.03)12.5%, rgba(97,97,97,0.03)12.5%, rgba(97,97,97,0.03)25%, rgba(143,143,143,0.03)25%, rgba(143,143,143,0.03)37.5%, rgba(110,110,110,0.03)37.5%, rgba(110,110,110,0.03)50%, rgba(34,34,34,0.03)50%, rgba(34,34,34,0.03)62.5%, rgba(155,155,155,0.03)62.5%, rgba(155,155,155,0.03)75%, rgba(249,249,249,0.03)75%, rgba(249,249,249,0.03)87.5%, rgba(179,179,179,0.03)87.5%, rgba(179,179,179,0.03)100%),
        linear-gradient(241deg,rgba(58,58,58,0.02)0%, rgba(58,58,58,0.02)25%, rgba(124,124,124,0.02)25%, rgba(124,124,124,0.02)50%, rgba(254,254,254,0.02)50%, rgba(254,254,254,0.02)75%, rgba(52,52,52,0.02)75%, rgba(52,52,52,0.02)100%),
        linear-gradient(90deg, rgb(255,255,255), rgb(255,255,255));

    --bg-dark:
        linear-gradient(158deg,rgba(84,84,84,.02) 0%,rgba(84,84,84,.02) 20%,rgba(219,219,219,.02) 20%,rgba(219,219,219,.02) 40%,rgba(54,54,54,.02) 40%,rgba(54,54,54,.02) 60%,rgba(99,99,99,.02) 60%,rgba(99,99,99,.02) 80%,rgba(92,92,92,.02) 80%,rgba(92,92,92,.02) 100%),
        linear-gradient(45deg,rgba(221,221,221,.01) 0%,rgba(221,221,221,.01) 14.286%,rgba(8,8,8,.01) 14.286%,rgba(8,8,8,.01) 28.572%,rgba(52,52,52,.01) 28.572%,rgba(52,52,52,.01) 42.858%,rgba(234,234,234,.01) 42.858%,rgba(234,234,234,.01) 57.144%,rgba(81,81,81,.01) 57.144%,rgba(81,81,81,.01) 71.43%,rgba(239,239,239,.01) 71.43%,rgba(239,239,239,.01) 85.716%,rgba(187,187,187,.01) 85.716%,rgba(187,187,187,.01) 100.002%),
        linear-gradient(109deg,rgba(33,33,33,.02) 0%,rgba(33,33,33,.02) 12.5%,rgba(147,147,147,.02) 12.5%,rgba(147,147,147,.02) 25%,rgba(131,131,131,.02) 25%,rgba(131,131,131,.02) 37.5%,rgba(151,151,151,.02) 37.5%,rgba(151,151,151,.02) 50%,rgba(211,211,211,.02) 50%,rgba(211,211,211,.02) 62.5%,rgba(39,39,39,.02) 62.5%,rgba(39,39,39,.02) 75%,rgba(55,55,55,.02) 75%,rgba(55,55,55,.02) 87.5%,rgba(82,82,82,.02) 87.5%,rgba(82,82,82,.02) 100%),
        linear-gradient(348deg,rgba(42,42,42,.01) 0%,rgba(42,42,42,.01) 20%,rgba(8,8,8,.01) 20%,rgba(8,8,8,.01) 40%,rgba(242,242,242,.01) 40%,rgba(242,242,242,.01) 60%,rgba(42,42,42,.01) 60%,rgba(42,42,42,.01) 80%,rgba(80,80,80,.01) 80%,rgba(80,80,80,.01) 100%),
        linear-gradient(120deg,rgba(106,106,106,.02) 0%,rgba(106,106,106,.02) 14.286%,rgba(67,67,67,.02) 14.286%,rgba(67,67,67,.02) 28.572%,rgba(134,134,134,.02) 28.572%,rgba(134,134,134,.02) 42.858%,rgba(19,19,19,.02) 42.858%,rgba(19,19,19,.02) 57.144%,rgba(101,101,101,.02) 57.144%,rgba(101,101,101,.02) 71.43%,rgba(205,205,205,.02) 71.43%,rgba(205,205,205,.02) 85.716%,rgba(53,53,53,.02) 85.716%,rgba(53,53,53,.02) 100.002%),
        linear-gradient(45deg,rgba(214,214,214,.02) 0%,rgba(214,214,214,.02) 16.667%,rgba(255,255,255,.02) 16.667%,rgba(255,255,255,.02) 33.334%,rgba(250,250,250,.02) 33.334%,rgba(250,250,250,.02) 50.001%,rgba(231,231,231,.02) 50.001%,rgba(231,231,231,.02) 66.668%,rgba(241,241,241,.02) 66.668%,rgba(241,241,241,.02) 83.335%,rgba(31,31,31,.02) 83.335%,rgba(31,31,31,.02) 100.002%),
        linear-gradient(59deg,rgba(224,224,224,.02) 0%,rgba(224,224,224,.02) 12.5%,rgba(97,97,97,.02) 12.5%,rgba(97,97,97,.02) 25%,rgba(143,143,143,.02) 25%,rgba(143,143,143,.02) 37.5%,rgba(110,110,110,.02) 37.5%,rgba(110,110,110,.02) 50%,rgba(34,34,34,.02) 50%,rgba(34,34,34,.02) 62.5%,rgba(155,155,155,.02) 62.5%,rgba(155,155,155,.02) 75%,rgba(249,249,249,.02) 75%,rgba(249,249,249,.02) 87.5%,rgba(179,179,179,.02) 87.5%,rgba(179,179,179,.02) 100%),
        linear-gradient(241deg,rgba(58,58,58,.01) 0%,rgba(58,58,58,.01) 25%,rgba(124,124,124,.01) 25%,rgba(124,124,124,.01) 50%,rgba(254,254,254,.01) 50%,rgba(254,254,254,.01) 75%,rgba(52,52,52,.01) 75%,rgba(52,52,52,.01) 100%),
        linear-gradient(rgb(64,64,64) 0%,rgb(64,64,64) 100%);

    --bg-blue:
        linear-gradient(106deg,rgba(107,107,107,0.04) 0%,rgba(107,107,107,0.04) 8%,rgba(31,31,31,0.04) 8%,rgba(31,31,31,0.04) 100%),
        linear-gradient(74deg,rgba(228,228,228,0.04) 0%,rgba(228,228,228,0.04) 62%,rgba(54,54,54,0.04) 62%,rgba(54,54,54,0.04) 100%),
        linear-gradient(189deg,rgba(18,18,18,0.04) 0%,rgba(18,18,18,0.04) 37%,rgba(233,233,233,0.04) 37%,rgba(233,233,233,0.04) 100%),
        linear-gradient(318deg,rgba(201,201,201,0.04) 0%,rgba(201,201,201,0.04) 55%,rgba(47,47,47,0.04) 55%,rgba(47,47,47,0.04) 100%),
        linear-gradient(335deg,rgba(172,172,172,0.04) 0%,rgba(172,172,172,0.04) 33%,rgba(26,26,26,0.04) 33%,rgba(26,26,26,0.04) 100%),
        linear-gradient(129deg,rgba(11,11,11,0.04) 0%,rgba(11,11,11,0.04) 38%,rgba(87,87,87,0.04) 38%,rgba(87,87,87,0.04) 100%),
        linear-gradient(412deg,rgba(199,199,199,0.04) 0%,rgba(199,199,199,0.04) 69%,rgba(4,4,4,0.04) 69%,rgba(4,4,4,0.04) 100%),
        linear-gradient(378deg,rgba(36,36,36,0.04) 0%,rgba(36,36,36,0.04) 20%,rgba(91,91,91,0.04) 20%,rgba(91,91,91,0.04) 100%),
        linear-gradient(155deg,rgb(10,32,72),rgb(35,148,228));

    --bg-green:
        linear-gradient(106deg,rgba(107,107,107,0.04) 0%,rgba(107,107,107,0.04) 8%,rgba(31,31,31,0.04) 8%,rgba(31,31,31,0.04) 100%),
        linear-gradient(74deg,rgba(228,228,228,0.04) 0%,rgba(228,228,228,0.04) 62%,rgba(54,54,54,0.04) 62%,rgba(54,54,54,0.04) 100%),
        linear-gradient(189deg,rgba(18,18,18,0.04) 0%,rgba(18,18,18,0.04) 37%,rgba(233,233,233,0.04) 37%,rgba(233,233,233,0.04) 100%),
        linear-gradient(318deg,rgba(201,201,201,0.04) 0%,rgba(201,201,201,0.04) 55%,rgba(47,47,47,0.04) 55%,rgba(47,47,47,0.04) 100%),
        linear-gradient(335deg,rgba(172,172,172,0.04) 0%,rgba(172,172,172,0.04) 33%,rgba(26,26,26,0.04) 33%,rgba(26,26,26,0.04) 100%),
        linear-gradient(129deg,rgba(11,11,11,0.04) 0%,rgba(11,11,11,0.04) 38%,rgba(87,87,87,0.04) 38%,rgba(87,87,87,0.04) 100%),
        linear-gradient(412deg,rgba(199,199,199,0.04) 0%,rgba(199,199,199,0.04) 69%,rgba(4,4,4,0.04) 69%,rgba(4,4,4,0.04) 100%),
        linear-gradient(378deg,rgba(36,36,36,0.04) 0%,rgba(36,36,36,0.04) 20%,rgba(91,91,91,0.04) 20%,rgba(91,91,91,0.04) 100%),
        linear-gradient(155deg,rgb(8,48,20),rgb(164,228,36));

    --bg-hipster:
        repeating-linear-gradient(0deg, rgba(0,64,128,.4) 0px,rgba(0,64,128,.6) 50px,transparent 50px,transparent 100px),
        repeating-linear-gradient(90deg, rgba(0,64,128,.6) 0px,rgba(0,64,128,.4) 50px,transparent 50px,transparent 100px),
        linear-gradient(90deg, rgb(225,69,0),rgb(255,69,0));

    --bg-carbon:
        repeating-linear-gradient(90deg, rgba(12,12,12,.2) 0px, rgba(64,64,64,.2) 1px, rgba(16,16,16,.2) 2px, rgba(44,44,44,.2) 3px, rgba(64,64,64,.2) 4px, rgba(32,32,32,.2) 5px, rgba(48,48,48,.2) 6px, rgba(32,32,32,.2) 7px),
        repeating-linear-gradient(135deg, rgba(32,32,32,.5) 0px, rgba(12,12,12,.5) 16px),
        repeating-linear-gradient(45deg, rgb(12,12,12) 0px, rgb(32,32,32) 16px);

    --bg-metal:
        repeating-linear-gradient(-120deg, rgba(12,12,12,.15) 0px, rgba(64,64,64,.3) 1px, rgba(16,16,16,.2) 2px, rgba(44,44,44,.3) 3px, rgba(64,64,64,.2) 4px, rgba(32,32,32,.3) 5px, rgba(48,48,48,.2) 6px, rgba(32,32,32,.3) 7px),
        linear-gradient(115deg, rgb(138,138,138) 0%, rgb(169,169,169) 1%, rgb(208,208,208) 2%, rgb(192,192,192) 3%, rgb(194,194,194) 4%, rgb(209,209,209) 5%, rgb(235,235,235) 6%, rgb(248,248,248) 7%, rgb(224,224,224) 8%, rgb(216,216,216) 9%, rgb(208,208,208) 10%, rgb(166,166,166) 12%, rgb(193,193,193) 14%, rgb(188,188,188) 16%, rgb(102,102,102) 18%, rgb(80,80,80) 20%, rgb(68,68,68) 22%, rgb(100,100,100) 24%, rgb(92,92,92) 26%, rgb(168,168,168) 28%, rgb(116,116,116) 29%, rgb(138,138,138) 30%, transparent 30%, transparent 100%),
        linear-gradient(115deg, rgb(138,138,138) 29%, rgb(32,32,32) 30%, transparent 30%, transparent 100%),
        linear-gradient(115deg, rgba(0,0,0,.6) 30%, rgba(0,0,0,0) 35%, transparent 35%, transparent 100%),
        repeating-linear-gradient(45deg, rgb(4,4,4) 0px, rgb(24,24,24) 5px, transparent 6px, transparent 15px),
        repeating-linear-gradient(135deg, rgb(4,4,4) 0px, rgb(24,24,24) 5px, transparent 6px, transparent 15px),
        repeating-linear-gradient(135deg, rgb(128,128,128) 0px, rgb(128,128,128) 5px, transparent 8px, transparent 15px),
        linear-gradient(rgb(96,96,96),rgb(24,24,24));
}

.disable-animation *,
.disable-animation *::after,
.disable-animation *::before {
    transition: 0s !important;
    animation: none !important;
}

body {
    font-size: var(--global-font-size);
    font-family: var(--global-font-family);
    background-color: #F5F5F5;
    overflow: hidden;
    user-select: none;
}

a {
    color: #202020;
    font-weight: 600;
}

::selection {
    background: rgb(48,48,48);
    color: #fff;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

@media print {
    body {
        display: none;
    }
}