.window {
    position: absolute;
    background-color: rgb(64,64,64);
    border-radius: 8px 8px 0 0;
    border-top: 1px solid rgb(84, 84, 84);
    box-shadow: rgba(0,0,0,.85) 0 0 8px;

    transition-timing-function: ease-out;
    min-width: 240px;
    min-height: 160px;

    animation: win-open .2s;
}

.disable-window-dropshadows > .window {
    box-shadow: none;
}

.window > .title {
    position: absolute;
    cursor: default;
    left: 28px;
    right: 120px;
    top: 0px;
    height: 30px;

    color: whitesmoke;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 28px;
}

.window > .control {
    position: absolute;
    top: 4px;
    width: 22px;
    height: 22px;
    background-color: rgb(192,192,192);
    border-radius: 50%;
    transition: .2s;
}

.window > .control:hover {
    filter: brightness(115%);
}

.window > .control:active {
    filter: brightness(85%);
    transform: scale(.95);
}

.window > .close-box {
    right: 4px;
    background-color: var(--theme-color);
    background-image: url(res/close.svgz);
}
.window > .maximize-box {
    right: 30px;
    background-image: url(res/maximize.svgz);
}
.window > .minimize-box {
    right: 56px;
    background-image: url(res/minimize.svgz);
}

.window > .popout-box {
    right: 92px;
    background-image: url(res/popout.svgz);
}

.window > .resize {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
    cursor: nw-resize;

	border-bottom: 16px solid rgb(128,128,128);
	border-left: 16px solid transparent;
}

.window > .titleicon {
    position: absolute;
    left: 6px;
    top: 4px;
    width: 22px;
    height: 22px;

    background-repeat: no-repeat;
    background-size: cover;
    filter: invert(1);
}

.win-content {
    position: absolute;
    color: rgb(224,224,244);
    left: 2px;
    right: 2px;
    top: 30px;
    bottom: 2px;
    transition: top .2s;
}

.win-toolbox {
    position: absolute;
    left: 48px;
    top: 3px;
    width: auto;
    height: 22px;

    transition: .2s;
}

.win-toolbox > div {
    float: left;
    width: 24px;
    height: 24px;
    outline: 0;
    border-radius: 2px;
    margin-right: 5px;
    box-shadow: rgba(128,128,128,.6) 0 0 0 1px;

    background-repeat: no-repeat;
    background-size: 22px 22px;
    background-position: 50% 50%;

    transition: .2s;
}
.win-toolbox > div:hover { background-color: rgba(128,128,128,.4); }
.win-toolbox > div:focus { background-color: rgba(128,128,128,.4); }
.win-toolbox > div:active { background-color: rgba(16,16,16,.2); }

.win-dim {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    bottom: 0;
    overflow: hidden;
    
    background-color: rgba(64,64,64,.8);
    /*backdrop-filter: blur(4px*);*/

    animation: fade-in .2s;
    transition: opacity .2s, filter .2s;
}

.win-confirm, .win-dialog {
    background-color: rgb(192,192,192);
    color: rgb(32,32,32);
    max-width: 100%;
    margin: 0px auto;

    box-shadow: rgba(0,0,0,.2) 0 12px 16px;
    border-radius: 0 0 8px 8px;
    padding: 32px 8px 16px 8px;
    box-sizing: border-box;

    animation: roll-in .2s;
    transform-origin: 50% 0;
    transition: transform .2s;
}

.win-confirm {
    width: 400px;
    text-align: center;
    font-weight: 600;
}

.win-dialog {
    position: absolute;
    left: 10%;
    right: 10%;
    max-width: 960px;
    height: calc(100% - 2px);
}


.bar-icon {
    position: absolute;
    top: 2px;
    width: 60px;
    height: 60px;
    border-radius: 12.5%;
    background-color: rgba(0,0,0,0);
    filter: "none";

    transition: .2s, filter 0s;
}

.bar-icon > .icon {
    position: relative;
    left: 4%;
    top: 4%;
    width: 91.5%;
    height: 91.5%;
    z-index: 0;

    background-repeat: no-repeat;
    background-size: cover;

    transition: filter 0s;
    animation: task-icon-open .25s ease-in-out;
}

.bar-icon-focused {

}

.no-results:empty::after {
    display: block;
    content: "no results..";
    font-size: 24px;
    color: #888;
    margin-top: 20px;
    height: 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(res/l_clear.svgz);
    background-size: 64px 64px;
    background-position-y: 36px;
    animation: fade-in .4s ease-in;
}

.no-entries:empty::after {
    display: block;
    content: "no results..";
    font-size: 24px;
    color: #888;
    margin-top: 20px;
    height: 100px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(res/l_clear.svgz);
    background-size: 64px 64px;
    background-position-y: 36px;
    animation: fade-in .4s ease-in;
}


.waitbox {
    position: absolute;
    width: 100%;
    height: 64px;
}

.waitbox > div {
    width: 32px;
    height: 32px;
    margin: 64px auto;
    border-radius: 50%;
    background-color: rgb(224,224,224);
    box-shadow: rgb(224,224,224) 0 0 8px 2px;
    animation: wait-animation 2s ease infinite;
}

.wait-label {
    position: absolute;
    margin: 127px auto;
    width: 100%;
    text-align: center;
    color: rgb(224,224,224);
    font-weight: bold;
    animation: delayed-fade-in 2s ease-in 1;
}

.high-contrast > #main > #container > .window {
    background-color: rgb(20,20,20);
    color: #fff;
    /*backdrop-filter: blur(8px);*/
    box-shadow: #fff 0 0 1px;
}

.high-contrast > #main > #container > .window > .win-content {
    background-color: inherit !important;
    color: #fff;
}

.high-contrast > #bottombar > .bar-icon-focused {
    background-color: rgb(20,20,20) !important;
}

.high-contrast > #bottombar > .bar-icon-focused > .icon {
    filter: brightness(6);
}

@keyframes wait-animation {
    0% { transform: translateX(175px); }
    50% { transform: translateX(-175px); }
    100% { transform: translateX(175px); }
}

@keyframes win-open {
    0%{   transform: scale(1.1); filter: opacity(0); }
    100%{ transform: scale(1);   filter: opacity(1); }
}

@keyframes task-icon-open {
    0%{   transform: scale(.8); }
    60%{  transform: scale(1.1); }
    100%{ transform: scale(1); }
}

@keyframes focus-pop {
    0%{   transform: scale(1); }
    50%{  transform: scale(1.05); }
    100%{ transform: scale(1); }
}

@keyframes fade-in {
    0%{   filter: opacity(0); }
    100%{ filter: opacity(1); }
}

@keyframes roll-in {
    0%{   transform: translateY(-100%); }
    100%{ transform: translateY(0%); }
}

@keyframes slide-in {
    0%{   transform: translateX(100%); }
    100%{ transform: translateY(0%); }
}

@keyframes wakeup {
    0%{ background-color: #444; visibility:visible; opacity:1; z-index: 100;}
    100%{ background-color: transparent; visibility:visible; opacity:1; z-index: 100;}
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (-ms-high-contrast: active) {
    .window {
        background-color: #000;
        color: #fff;
        border: 1px solid #ff0;
    }

    .window > .control {
        filter: brightness(4);
    }
}
