.chat-window {
	container-name: chat-container;
	container-type: inline-size;
}

.chat-box {
	position: absolute;
	left: 8px;
	right: 8px;
	top: 8px;
	bottom: 64px;
	color: var(--clr-light);
	border: 2px solid var(--clr-pane);
	padding: 4px;
	margin: 8px;
	border-radius: 4px;
	overflow-y: auto;
	transition: .2s;
}

.chat-group {
	position: relative;
	filter: drop-shadow(rgba(16,16,16,.5) 0 1px 2px);
	animation: rise-in 1 .2s;
}

.chat-group[sender]:not([sender=""])::before {
	display: inline-block;
	content: attr(sender);
	color: var(--clr-pane);
	padding: 4px 8px;
}

.chat-avatar {
	position: absolute;
	bottom: 4px;
	width: 32px;
	height: 32px;

	-webkit-mask-image: url(mono/admin.svg); mask-image: url(mono/admin.svg);
	-webkit-mask-position: center; mask-position: center;
	-webkit-mask-size: 32px 32px; mask-size: 32px 32px;
	-webkit-mask-repeat: no-repeat; mask-repeat: no-repeat;
}

.chat-box > div > .out {
	text-align: right;
}
.chat-box > div > .in {
	text-align: left;
}

.chat-timestamp {
	display: inline-block;
	position: relative;
	bottom: 14px;
	padding: 0 8px;
	font-size: small;
	color: var(--clr-pane);

	transition: .2s;
	opacity: 0;
	visibility: hidden;
}

.in:focus-within > .chat-timestamp,
.out:focus-within  > .chat-timestamp {
	opacity: 1;
	visibility: visible;
}

.chat-bubble {
	display: inline-block;
	text-align: start;
	margin: 0 4px;
	padding: 8px 12px;
	border-radius: 12px;
	color: var(--clr-dark);
	overflow: hidden;
	word-wrap: break-word;
	background-color: var(--clr-pane);
	max-width: 80%;
	-webkit-user-select: text; user-select: text;
}

.chat-box > div > div:last-child .chat-bubble:before {
	content: "";
	position: absolute;
	bottom: 13px;
	border-style: solid;
	border-width: 9px;
}

.chat-box > div > .out:last-child .chat-bubble:before {
	right: 24px;
	border-color: transparent transparent transparent var(--clr-pane);
}
.chat-box > div > .in:last-child .chat-bubble:before {
	left: 24px;
	border-color: transparent var(--clr-pane) transparent transparent;
}

.chat-emoji-bubble {
	width: 72px;
	height: 72px;

	background: linear-gradient(to bottom, var(--clr-accent)0%, color-mix(in hsl shorter hue, var(--clr-accent) 80%, black 20%)100%);
	-webkit-mask-position: center; mask-position: center;
	-webkit-mask-size: 64px 64px; mask-size: 64px 64px;
	-webkit-mask-repeat: no-repeat; mask-repeat: no-repeat;
}

.chat-emoji-bubble:active {
	transform: scale(.95);
	transition: .4s;
	transition-timing-function: ease-out;
}

.chat-command-box {
	min-width: 96px;
	min-height: 48px;
	line-height: 48px;
	font-weight: 600;
	padding-left: 56px;
	padding-right: 8px;
	background-size: 40px 40px;
	background-position: 8px center;
	background-repeat: no-repeat;
	border-radius:  8px;
	-webkit-user-select: none; user-select: none;
}

.chat-command-box:hover {
	background-color: var(--clr-select);
	transition: .2s;
}

.local-streams-box {
	position: absolute;
	top: 8px;
	bottom: 64px;
	width: 142px;
	padding: 4px;
	margin: 4px;
	overflow-y: auto;
	transition: .2s;
}

.local-streams-box > div {
	width: 100%;
	min-height: 96px;
	background-color: var(--clr-pane);
	border-radius: 4px;
	margin-bottom: 8px;
}

.local-streams-box > div:hover {
	filter: brightness(120%);
	transition: .2s;
}

.chat-input {
	position: absolute;
	left: 148px;
	right: 96px;
	bottom: 12px;
	min-height: 40px;
	max-height: 60%;
	margin: 0 8px;
	padding: 4px 12px;
	border-radius: 16px;
	text-align: start;

	color: var(--clr-dark);
	background-color: var(--clr-pane);
	filter: drop-shadow(rgba(32, 32, 32, .5) 1px 1px 1px);
	overflow-y: auto;
	transition: .2s;
}

.chat-input:empty::before {
	content: "Aa";
	color: rgb(96,96,96);
}

.chat-button {
	position: absolute;
	bottom: 12px;
	width: 40px !important;
	min-width: 40px !important;
	height: 40px !important;
	min-height: 40px !important;
	padding: 2px !important;
	margin: 4px !important;
	background-position: center;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	filter: drop-shadow(rgba(32, 32, 32, .5) 1px 1px 1px);
}
.chat-button:active {
	background-color: rgb(52,52,52) !important;
}

.chat-mic {
	background-image: url(mono/mic.svg?light);
	left: 8px;
}
.chat-cam {
	background-image: url(mono/webcam.svg?light);
	left: 52px;
}
.chat-screen {
	background-image: url(mono/screenshare.svg?light);
	left: 96px;
}

.chat-send {
	background-image: url(mono/send.svg?light);
	right: 52px;
}

.chat-emoji {
	background-image: url(mono/handthumbsup.svg?light);
	right: 8px;

	overflow: visible;
}

.chat-emoji:focus > .chat-emoji-box,
.chat-emoji:focus-within > .chat-emoji-box {
	visibility: visible;
	opacity: 1;
	bottom: calc(100% + 12px);
}

.chat-emoji-box {
	position: absolute;
	right: -2px;
	bottom: calc(100% - 4px);
	width: 400px;
	height: 56px;
	padding: 8px;
	background-color: var(--clr-pane);
	box-shadow: var(--clr-dark) 0 0 4px;
	border-radius: 8px;
	overflow: visible;

	visibility: hidden;
	opacity: 0;
	transition: .2s;
}

.chat-emoji-box::after {
	content: "";
	position: absolute;
	right: 12px;
	bottom: -20px;
	border-style: solid;
	border-width: 10px;
	border-color: var(--clr-pane) transparent transparent transparent;
}

.chat-emoji-box > input {
	background-color: transparent !important;
	width: 48px;
	min-width: 48px;
	height: 48px;
	background-size: 40px 40px;
	background-position: center;
	background-repeat: no-repeat;
}

@container chat-container (max-width: 400px) {
	.chat-box > .chat-timestamp {
		display: none;
	}
	.chat-mic, .chat-cam, .chat-screen {
		display: none;
	}
	.chat-input {
		left: 8px;
	}
}
