.file-path {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0;
	height: 32px;
	overflow: hidden;
}

.file-path > .file-path-node {
	display: inline-block;
	min-width: 16px;
	border-radius: 4px;
	padding: 4px 6px;
	margin: 2px;
	color: var(--clr-dark);
	text-align: center;
	background-color: rgb(192,192,192);
}

.file-path > .file-path-node:hover {
	background-color: var(--clr-select);
}

.file-path > .file-path-node:active {
	filter: brightness(1.15);
	transition: .2s;
}

.file-path > .file-separator-node {
	display: inline-block;
	width: 12px;
	height: 12px;
	transform: rotate(-90deg);
	background-image: url(/mono/guitarpick.svg?light);
	background-size: 10px 10px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.file-view {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 36px;
	bottom: 32px;
	overflow-y: auto;
}

.file-drop-area {
	position: absolute;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: larger;
	font-weight: bold;
	inset: 20px;
	color: rgb(32,32,32);
	text-shadow: rgba(255,255,255,.8) 0 0 4px;
	background-color: var(--clr-transparent);
	backdrop-filter: blur(8px) brightness(80%);
	border: var(--clr-accent) solid 2px;
	border-radius: 20px;

	visibility: hidden;
	opacity: 0;
	transform: scale(.95);
}

.file-selected {
	background-color: color-mix(in srgb, var(--clr-select) 75%, transparent);
	box-shadow: color-mix(in srgb, var(--clr-select) 75%, black) 0 0 0 1px;
}

.file-grid > div {
	display: inline-block;
	position: relative;
	width: 96px;
	height: 128px;
	padding: 4px;
	margin: 4px;
	border-radius: 4px;
}

.file-list > div {
	display: block;
	position: relative;
	width: unset;
	height: 24px;
	padding: 4px;
	margin: 0px;
	border-radius: 2px;
}

.file-view > div:active > .file-icon > div {
	filter: brightness(1.15);
	transition: .2s;
}

.file-hidden > .file-icon {
	mask: radial-gradient(circle, transparent 45%,  white 55%);
	mask-size: 3px 3px;
	mask-repeat: repeat;
}

.file-icon > div {
	background-color: light-dark(rgb(64,64,64), rgb(192,192,192));
}

.file-grid > div > .file-icon > div {
	width: 96px;
	height: 96px;
	mask-size: 96px 96px;
}

.file-list > div > .file-icon > div {
	width: 24px;
	height: 24px;
	mask-size: 24px 24px;
}

.file-file > .file-icon > div {
	mask-image: url(mono/file.svg?light);
}
.file-dir > .file-icon > div {
	mask-image: url(mono/dir.svg?light);
}

.file-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.file-grid > div > .file-name {
	padding-top: 4px;
	text-align: center;
	font-size: small;
}
.file-list > div > .file-name {
	position: absolute;
	top: 6px;
	left: 36px;
	width: calc(40% - 40px);
	text-align: left;
}

.file-extension {
	position: absolute;
	color: var(--clr-dark);
	text-align: center;
	text-transform: uppercase;
	box-shadow: rgb(64,64,64) -1px 1px 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.file-grid > div > .file-extension {
	font-weight: bold;
	right: 12px;
	top: 48px;
	min-width: 20px;
	max-width: 88px;
	padding: 0 4px;
	border-radius: 4px;
}
.file-list > div > .file-extension {
	font-size: 5px;
	right: calc(100% - 28px);
	top: 16px;
	min-width: 6px;
	max-width: 22px;
	padding: 0 2px;
	border-radius: 2px;
}

.file-link:after {
	position: absolute;
	content: "";
	mask-image: url(/mono/shortcut.svg);
	mask-size: 100% 100%;
	background-color: light-dark(rgb(192,192,192), rgb(64,64,64));
}
.file-grid > .file-link:after {
	width: 28px;
	height: 28px;
	left: 24px;
	top: 64px;
}
.file-list > .file-link:after {
	width: 8px;
	height: 8px;
	left: 8px;
	top: 18px;
}

.file-grid .file-loading-bar {
	position: absolute;
	top: 88px;
	left: 24px;
	width: calc(100% - 48px);
	height: 4px;
	border-radius: 2px;
	border: 1px solid var(--clr-accent);
}

.file-details {
	pointer-events: none;
}

.file-grid > div > .file-details {
	position: absolute;
	left: 2px;
	right: 2px;
	z-index: 1;
	font-size: smaller;
	padding: 2px;
	border-radius: 4px;
	text-align: center;
	box-shadow: rgba(192,192,192,.8) 0 0 1px inset;
	background-color: rgb(52,52,52);
	color: var(--clr-light);
	opacity: 0;
}

.file-grid > div:hover .file-details {
	opacity: 1;
	transition: .2s;
	transition-delay: .4s;
}

.file-list .file-details {
	position: absolute;
	left: calc(40% + 40px);
	top: 6px;
	width: calc(60% - 80px);
}
.file-list .file-details > div {
	display: inline-block;
	width: 50%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.file-counter {
	position: absolute;
	left: 2px;
	bottom: 3px;
	color: var(--clr-contrast);
	font-weight: 600;
	padding: 0 8px;
	border: 1px solid var(--clr-contrast);
	border-radius: 2px;
}

.file-status-label {
	position: absolute;
	right: 8px;
	bottom: 4px;
	color: var(--clr-contrast);
	font-weight: 600;
}

.file-status-label::before {
	content: "";
	display: inline-block;
	margin-right: 8px;
	margin-bottom: -4px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border-style: solid;
	border-color: var(--clr-contrast) var(--clr-contrast) transparent transparent;
	border-width: 2px 3px 3px 0;
	box-sizing: border-box;
	animation: spin 1s linear infinite;
}