.hexviewer-content {
	display: grid;
	grid-template-rows: 1fr 28px;
	grid-template-columns: repeat(8, 1fr);
	column-gap: 8px;
	container-name: hexviewer;
	container-type: inline-size;
}

.hexviewer-hexbox {
	overflow-y: scroll;
	grid-column: 1 / 5;
	background-color: rgba(128,128,128,.2);
	container-name: hexbox;
	container-type: inline-size;
}
.hexviewer-asciibox {
	overflow-y: scroll;
	grid-column: 5 / 7;
	background-color: rgba(128,128,128,.2);
}
.hexviewer-list {
	overflow-y: scroll;
	grid-column: 7 / 9;
	background-color: rgba(128,128,128,.2);
}

.hexviewer-details {
	overflow: hidden;
	grid-column: 1 / 9;
	grid-row: 2 / 3;
	line-height: 28px;
}

.hexviewer-separator {
	padding: 2px 4px !important;
	margin: 20px 2px 4px 2px;
	margin-bottom: 4px;
	color: #c0c0c0;
	background-color: #00000040 !important;
	border-radius: 4px;
}

.hexviewer-hexbox > div > div,
.hexviewer-asciibox > div > div {
	display: inline-block;
	width: 6%;
	height: 20px;
	text-align: center;
	border-radius: 2px;
}

.hexviewer-hexbox > div > div:nth-child(16n + 8),
.hexviewer-asciibox > div > div:nth-child(16n + 8) {
	margin-right: 4%;
}

.hexviewer-list > div {
	padding: 2px 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hexviewer-list > div:hover {
	background-color: var(--clr-select);
}

/*.hexviewer-hexbox > div::before {
	content: "0x";
	font-size: 10px;
}*/

@container hexviewer (max-width: 720px) {
	.hexviewer-hexbox {
		grid-column: 1 / 6;
	}
	.hexviewer-asciibox {
		grid-column: 6 / 9;
	}
	.hexviewer-list {
		grid-column: 9;
		display: none;
	}
}

@container hexbox (max-width: 350px) {
	.hexviewer-hexbox > div > div {
		font-size: small;
	}
}