.issues-info > .list-element-icon,
.issues-warning > .list-element-icon,
.issues-error > .list-element-icon,
.issues-critical > .list-element-icon {
	mask-size: 24px 24px;
	mask-position: center;
	mask-repeat: no-repeat;
}

.issues-info > .list-element-icon {
	mask-image: url(mono/info.svg);
	background-color: rgb(28,136,223);
}

.issues-warning > .list-element-icon {
	mask-image: url(mono/warning.svg);
	background-color: rgb(208,128,16);
}

.issues-error > .list-element-icon {
	mask-image: url(mono/error.svg);
	background-color: var(--clr-error);
}

.issues-critical > .list-element-icon {
	mask-image: url(mono/critical.svg);
	background-color: var(--clr-critical);
}

.issues-toggle-button {
	background-size: 22px 22px !important;
	mask-image: url(mono/stop.svg) !important;
	mask-size: 34px 34px !important;
	mask-position: center !important;
	mask-repeat: no-repeat !important;
}

.issues-status-label {
	position: absolute;
	right: 8px;
	bottom: 2px;
	color: var(--clr-pane);
	font-weight: 600;
}

.issues-scanning::before {
	content: "";
	display: inline-block;
	margin-right: 8px;
	margin-bottom: -4px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border-style: solid;
	border-color: var(--clr-pane) var(--clr-pane) transparent transparent;
	border-width: 2px 3px 3px 0px;
	box-sizing: border-box;

	animation: spin 1s linear infinite;
}


@media (prefers-color-scheme: dark) {
	.issues-warning > .list-element-icon {
		background-color: rgb(192,112,0);
	}
	.issues-error > .list-element-icon {
		background-color: rgb(208,64,12);
	}
	.issues-critical > .list-element-icon {
		background-color: rgb(200,28,32);
	}
}