.issues-info > .list-element-icon,
.issues-warning > .list-element-icon,
.issues-error > .list-element-icon,
.issues-critical > .list-element-icon {
	background-size: 24px 24px;
	background-position: center;
	background-repeat: no-repeat;
}

.issues-info > .list-element-icon {
	background-image: url(mono/info.svg);
}
.issues-info > .list-element-icon::after {
	content: "";
	position: absolute;
	left: 10px;
	top: 7px;
	z-index: -1;
	width: 8px;
	height: 15px;
	background-color: rgb(32,148,240);
}

.issues-warning > .list-element-icon {
	background-image: url(mono/warning.svg);
}
.issues-warning > .list-element-icon::after {
	content: "";
	position: absolute;
	left: 10px;
	top: 7px;
	z-index: -1;
	width: 8px;
	height: 16px;
	background-color: var(--clr-warning);
}

.issues-error > .list-element-icon {
	background-image: url(mono/error.svg);
}
.issues-error > .list-element-icon::after {
	content: "";
	position: absolute;
	left: 7px;
	top: 7px;
	z-index: -1;
	width: 14px;
	height: 14px;
	background-color: var(--clr-error);
}

.issues-critical > .list-element-icon {
	background-image: url(mono/critical.svg);
}
.issues-critical > .list-element-icon::after {
	content: "";
	position: absolute;
	left: 5px;
	top: 8px;
	z-index: -1;
	width: 18px;
	height: 13px;
	border-radius: 8px;
	background-color: var(--clr-critical);
}

.issues-toggle-button {
	background-size: 22px 22px !important;
	width: 28px !important;
	height: 28px !important;
	margin: 6px !important;
}

.issues-status-label {
	position: absolute;
	right: 8px;
	bottom: 4px;
	color: var(--clr-pane);
	font-weight: 600;
}
