.issues-info > .list-element-icon,
.issues-warning > .list-element-icon,
.issues-error > .list-element-icon,
.issues-critical > .list-element-icon {
	background-size: 24px 24px;
	background-position: center;
	background-repeat: no-repeat;
}

.issues-info > .list-element-icon {
	background-image: url(mono/info.svg);
}
.issues-info > .list-element-icon::after {
	content: "";
	position: absolute;
	left: 10px;
	top: 7px;
	z-index: -1;
	width: 8px;
	height: 15px;
	background-color: rgb(32,148,240);
}

.issues-warning > .list-element-icon {
	background-image: url(mono/warning.svg);
}
.issues-warning > .list-element-icon::after {
	content: "";
	position: absolute;
	left: 10px;
	top: 7px;
	z-index: -1;
	width: 8px;
	height: 16px;
	background-color: var(--clr-warning);
}

.issues-error > .list-element-icon {
	background-image: url(mono/error.svg);
}
.issues-error > .list-element-icon::after {
	content: "";
	position: absolute;
	left: 7px;
	top: 7px;
	z-index: -1;
	width: 14px;
	height: 14px;
	background-color: var(--clr-error);
}

.issues-critical > .list-element-icon {
	background-image: url(mono/critical.svg);
}
.issues-critical > .list-element-icon::after {
	content: "";
	position: absolute;
	left: 5px;
	top: 8px;
	z-index: -1;
	width: 18px;
	height: 12px;
	background-color: var(--clr-critical);
}

.issues-toggle-button {
	background-size: 22px 22px !important;
	mask-image: url(mono/stop.svg) !important;
	mask-size: 34px 34px !important;
	mask-position: center !important;
	mask-repeat: no-repeat !important;
}

.issues-status-label {
	position: absolute;
	right: 8px;
	bottom: 4px;
	color: var(--clr-pane);
	font-weight: 600;
}

.issues-scanning::before {
	content: "";
	display: inline-block;
	margin-right: 8px;
	margin-bottom: -4px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border-style: solid;
	border-color: var(--clr-pane) var(--clr-pane) transparent transparent;
	border-width: 2px 3px 3px 0px;
	box-sizing: border-box;

	animation: spin 1s linear infinite;
}