.list-listbox {
	color: var(--clr-dark);
	background-color: var(--clr-pane);

	position: absolute;
	left: 0;
	right: 0;
	top: 30px;
	bottom: 28px;

	overflow-x: hidden;
	overflow-y: scroll;
}

.list-title {
	position: absolute;
	left: 0;
	right: 0;
	top: 0px;
	height: 30px;

	border-radius: 4px 4px 0 0;
	background: var(--grd-toolbar);
}

.list-title > div:not(:last-child) {
	position: absolute;
	top: 1px;
	height: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-transform: capitalize;
	line-height: 28px;
	border-radius: 4px;

	box-sizing: border-box;
	padding-left: 4px;
}

.list-title > div:hover {
	transition: .2s;
	background-color: rgb(72,72,72);
}

.list-title > div:active {
	transition: .2s;
	background-color: rgb(64,64,64);
}

.list-title > .list-sort-ascend::after,
.list-title > .list-sort-descend::after {
	position: absolute;
	/*left: calc(100% - 16px);*/
	transform: translate(4px, 10px);
	content: "";
	border: solid;
	border-radius: 2px;
	border-color: #C0C0C0 transparent;
	transition: .2s;
}
.list-title > .list-sort-ascend::after {
	border-width: 0 6px 8px 6px;
}
.list-title > .list-sort-descend::after {
	border-width: 8px 6px 0 6px;
}

.list-columns-options {
	position: absolute;
	right: 0;
	top: 0;
	width: 22px;
	height: 24px;
	border-radius: 2px;
	padding: 2px;
	opacity: 0;

	background-image: url(mono/selecttoogle.svg?light);
	background-size: 18px 18px;
	background-position: center;
	background-repeat: no-repeat;
}

.list-title:hover > .list-columns-options {
	opacity: 1;
}

.list-element {
	position: relative;
	height: 32px;
	content-visibility: auto;
	contain-intrinsic-size: 33px;
}

.list-element:not(:last-child) {
	border-bottom: rgb(128,128,128) 1px solid;
}

.list-element:hover {
	background-color: var(--clr-highlight);
}

.list-element > * {
	position: absolute;
}

.list-element-icon {
	left: 2px;
	top: 2px;
	width: 28px;
	height: 28px;
	background-size: contain;
}

.list-element > div:not(:first-child) {
	top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
	padding-left: 6px;
}

.list-inner-icon {
	position: relative;
	display: inline-block;
	cursor: pointer;
	width: 28px;
	height: 28px;

	background-size: 24px 24px;
	background-position: center;
	background-repeat: no-repeat;
}

.list-inner-icon[tip]::before {
	position: absolute;
	transform: translateX(-8px) !important;
	right: calc(100% + 8px) !important;
	left: unset;
	top: calc(50% - 12px) !important;
}
.list-inner-icon[tip]::after {
	transform: translateX(-8px) !important;
	right: calc(100% + 2px) !important;
	left: unset;
	top: calc(50% - 6px) !important;
	border-width: 6px 0 6px 6px !important;
	border-color: transparent rgb(52,52,52) !important;
}
.list-inner-icon[tip]:hover::before,
.list-inner-icon[tip]:hover::after {
	max-width: unset !important;
	transform: none !important;
}

.list-counter {
	position: absolute;
	left: 2px;
	bottom: 3px;
	color: var(--clr-pane);
	font-weight: 600;
	padding: 0px 8px;
	border: 1px solid var(--clr-pane);
	border-radius: 2px;
}