:root {
	--oversight-console-height: min(280px, 30%);
}

.oversight-console {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: var(--oversight-console-height);
	padding: 8px;
	box-sizing: border-box;
	color: var(--clr-light);
	background-color: var(--clr-dark);
	font-family: monospace;
	overflow-y: scroll;
	user-select: text; -webkit-user-select: text;
	transition: .2s;
}

.oversight-console-line {
	padding-left: 28px;
	background-size: 20px 20px;
	background-position: 4px center;
	background-repeat: no-repeat;
	line-height: 24px;
}

.oversight-scrollable {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: var(--oversight-console-height);
	overflow-y: scroll;
}

.oversight-toggle-button {
	all: unset;
	position: absolute;
	right: 8px;
	bottom: var(--oversight-console-height);
	width: 28px !important;
	min-width: 28px !important;
	height: 28px!important;
	min-height: 28px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	background-color: transparent !important;
	background-image: url(/mono/guitarpick.svg?light);
	background-size: 24px 24px;
	background-position: center;
	background-repeat: no-repeat;
}
.oversight-toggle-button:active {
	background-size: 22px 22px;
}

.oversight-graph-container {
	position: relative;
	max-width: 960px;
	padding: 8px 16px;
}

.oversight-graph-inner {
	position: relative;
	background-color: color-mix(in hsl shorter hue, var(--clr-dark) 50%, transparent 50%);
	width: calc(100% - 200px);
	padding: 2px;
	border-radius: 4px;
	overflow: hidden;
}

.oversight-graph-inner > canvas {
	position: absolute;
	right: 4px;
	top: 0;
}

.oversight-graph-title {
	position: absolute;
	left: 4px;
	right: 4px;
	top: 1px;
	color: var(--clr-light);
	font-weight: 600;
	font-size: small;
	text-transform: capitalize;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	pointer-events: none;
}

.oversight-graph-value {
	position: absolute;
	right: 8px;
	top: 20px;
	width: 192px;
	color: var(--clr-light);
	font-weight: 600;
	white-space: break-spaces;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
}
