@font-face { /*light*/
	font-family: "Open Sans";
	src: local("Open Sans"), url("fonts/opensans300.ttf") format("truetype");
	font-weight: 300;
	font-display: swap;
}
@font-face { /*normal*/
	font-family: "Open Sans";
	src: local("Open Sans"), url("fonts/opensans400.ttf") format("truetype");
	font-weight: 400;
	font-display: swap;
}
@font-face { /*semi-bold*/
	font-family: "Open Sans";
	src: local("Open Sans"), url("fonts/opensans600.ttf") format("truetype");
	font-weight: 600;
	font-display: swap;
}
@font-face { /*bold*/
	font-family: "Open Sans";
	src: local("Open Sans"), url("fonts/opensans700.ttf") format("truetype");
	font-weight: 700;
	font-display: swap;
}

:root {
	color-scheme: light dark;

	--global-font-size: 15px;
	--global-font-family: "Open Sans";
	--sidemenu-width: 480px;
	
	--clr-accent     : rgb(255,102,0);
	--clr-select     : rgb(232,118,0);
	--clr-transparent: rgba(255,102,0,.6);
	--clr-critical   : rgb(240,16,16);
	--clr-error      : rgb(240,80,24);
	--clr-orange     : rgb(232,118,0);
	--clr-warning    : rgb(255,186,0);
	--clr-light      : rgb(224,224,224);
	--clr-dark       : rgb(32,32,32);
	--clr-contrast   : light-dark(rgb(32,32,32),rgb(192,192,192));
	
	--clr-control: light-dark(rgb(160,160,160), rgb(144,144,144));
	--clr-highlight: light-dark(rgb(204,204,204), rgb(184,184,184));
	--clr-pane: light-dark(rgb(192,192,192), rgb(168,168,168));
	
	--grd-taskbar: linear-gradient(to bottom, rgb(199,64,0)0%, rgb(232,118,0)92%, rgb(199,64,0)100%);
	--grd-taskbar-rev: linear-gradient(to bottom, rgb(199,64,0)0%, rgb(232,118,0)2%, rgb(199,64,0)100%);
	
	--grd-toolbar: linear-gradient(
		light-dark(rgb(128,128,128), rgb(96,96,96)),
		light-dark(rgb(112,112,112), rgb(80,80,80))
	);

	--bg:
		linear-gradient(56deg,rgba(254,254,254,.05) 0%,rgba(254,254,254,.05) 69%,rgba(160,160,160,.05) 69%,rgba(160,160,160,.05) 100%),
		linear-gradient(194deg,rgba(102,102,102,.02) 0%,rgba(102,102,102,.02) 60%,rgba(67,67,67,.02) 60%,rgba(67,67,67,.02) 100%),
		linear-gradient(76deg,rgba(169,169,169,.06) 0%,rgba(169,169,169,.06) 89%,rgba(189,189,189,.06) 89%,rgba(189,189,189,.06) 100%),
		linear-gradient(326deg,rgba(213,213,213,.04) 0%,rgba(213,213,213,.04) 45%,rgba(66,66,66,.04) 45%,rgba(66,66,66,.04) 100%),
		linear-gradient(183deg,rgba(223,223,223,.01) 0%,rgba(223,223,223,.01) 82%,rgba(28,28,28,.01) 82%,rgba(28,28,28,.01) 100%),
		linear-gradient(3deg,rgba(20,20,20,.06) 0%,rgba(20,20,20,.06) 62%,rgba(136,136,136,.06) 62%,rgba(136,136,136,.06) 100%),
		linear-gradient(200deg,rgba(206,206,206,.09) 0%,rgba(206,206,206,.09) 58%,rgba(6,6,6,.09) 58%,rgba(6,6,6,.09) 100%),
		linear-gradient(304deg,rgba(162,162,162,.07) 0%,rgba(162,162,162,.07) 27%,rgba(24,24,24,.07) 27%,rgba(24,24,24,.07) 100%),
		linear-gradient(186deg,rgba(166,166,166,.04) 0%,rgba(166,166,166,.04) 5%,rgba(210,210,210,.04) 5%,rgba(210,210,210,.04) 100%),
		linear-gradient(130deg,
			light-dark(rgb(45,129,153), rgb(51,81,89)),
			light-dark(rgb(68,148,211), rgb(62,81,97)),
			light-dark(rgb(68,157,203), rgb(63,113,138))
		);
}

body {
	border: 0;
	margin: 0;
	overflow: hidden;

	font-family: var(--global-font-family);
	font-size: var(--global-font-size);

	-webkit-user-select: none; user-select: none;

	background: var(--bg);
	background-size: 100vw 100vh;
}

a {
	color: var(--clr-dark);
	outline: 0;
}

a:focus {
	animation: focus-outline .3s ease-in forwards;
}

hr {
	border: 1px solid var(--clr-control);
}

div, svg {
	outline: 0;
}

.disable-animations *,
.disable-animations *::before,
.disable-animations *::after {
	transition-duration: 0s !important;
	animation: none !important;
}

::selection {
	color: var(--clr-light);
	background: var(--clr-dark);
}

.scrollbar-thick *::-webkit-scrollbar {
	width: 11px;
	height: 11px;
}
.scrollbar-thick *::-webkit-scrollbar-thumb {
	background-color: light-dark(#444, #888);
	border-radius: 2px;
}
.scrollbar-thick *::-webkit-scrollbar-thumb:hover {
	background-color: light-dark(#555, #777);
}
.scrollbar-thick *::-webkit-scrollbar-corner {
	background-color: transparent;
}

.scrollbar-thin *::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
.scrollbar-thin *::-webkit-scrollbar-thumb {
	background-color: light-dark(#444, #888);
	border-radius: 1px;
}
.scrollbar-thin *::-webkit-scrollbar-thumb:hover {
	background-color: light-dark(#555, #777);
}
.scrollbar-thin *::-webkit-scrollbar-corner {
	background-color: transparent;
}

.scrollbar-hidden *::-webkit-scrollbar {
	display: none;
}

@-moz-document url-prefix() {
	* {
		scrollbar-color: #888 transparent !important;
	}
	.scrollbar-thick * {
		scrollbar-width: unset;
	}
	.scrollbar-thin * {
		scrollbar-width: thin;
	}
	.scrollbar-hidden * {
		scrollbar-width: none;
	}
}

@media print {
	body {
		display: none;
	}
}

@keyframes glow {
	0%{ box-shadow: var(--clr-accent) 0 0 6px 1px }
	50%{ box-shadow: var(--clr-accent) 0 0 2px 0px }
	100%{ box-shadow: var(--clr-accent) 0 0 6px 1px }
}

@keyframes focus-outline {
	0%   { box-shadow: var(--clr-accent) 0px 0px 0px 0px; }
	30%  { box-shadow: var(--clr-accent) 0px 4px 0px 0px; }
	100% { box-shadow: var(--clr-accent) 0px 0px 0px 3px; }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}