.snmp-input {
	position: absolute;
	left: 8px;
	right: 40px;
	max-width: 800px;
	top: 8px;
	height: 122px;
	display: grid;
	grid-template-columns: 96px auto 112px 56px 56px 56px;
	grid-template-rows: 32px 32px 32px 24px;
	transition: .2s;
}

.snmp-toggle-button {
	all: unset;
	position: absolute;
	right: 8px;
	top: 96px;
	width: 28px !important;
	min-width: 28px !important;
	height: 28px!important;
	min-height: 28px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	background-color: transparent !important;
	background-image: url(/mono/guitarpick.svg?light);
	background-size: 20px 20px;
	background-position: center;
	background-repeat: no-repeat;
	transform: rotate(-180deg);
}
.snmp-toggle-button:active {
	background-size: 22px 22px;
}

.snmp-plot {
	color: var(--clr-dark);
	background-color: var(--clr-pane);
	border-radius: 2px;
	overflow: auto;
	position: absolute;
	left: 4px;
	right: 4px;
	top: 136px;
	bottom: 4px;
	transition: .4s;
}

.snmp-list-item {
	position: relative;
	height: 28px;
	border-bottom: rgb(128,128,128) 1px solid;
}
.snmp-list-item:hover {
	background-color: var(--clr-highlight);
}

.snmp-list-item > div {
	display: inline-block;
	box-sizing: border-box;
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-user-select: all;
	user-select: all;
}

.snmp-list-item > div:nth-child(1) {
	width: 35%;
	max-width: 400px;
	padding-left: 32px;
}

.snmp-list-item > div:nth-child(2) {
	width: 15%;
	max-width: 150px;
	-webkit-user-select: none;
	user-select: none;
}

.snmp-list-item > div:nth-child(3) {
	width: 50%;
	max-width: 600px;
	white-space: nowrap;
}

.snmp-list-item > div:nth-child(2)::before {
	font-size: smaller;
	text-align: center;
	display: inline-block;
	color: var(--clr-light);
	background-color: rgb(72,72,72);
	border-radius: 4px;
	padding: 0px 2px;
	margin-right: 4px;
	min-width: 24px;
	height: 20px;
	line-height: 20px;
}

.snmp-list-item > div:nth-child(2).snmp-bin::before {
	content: "BIN";
}
.snmp-list-item > div:nth-child(2).snmp-hex::before {
	content: "HEX";
}
.snmp-list-item > div:nth-child(2).snmp-str::before {
	content: "STR";
}

.snmp-list-item > div:nth-child(3) > div {
	display: inline-block;
	color: rgb(72,72,72);
	border: rgb(72,72,72) 1px solid;
	border-radius: 4px;
	padding: 0px 2px;
	margin-left: 8px;
	height: 20px;
	line-height: 20px;
}

.snmp-expand {
	position: absolute;
	transform: translate(8px, 6px) rotate(-90deg);
	z-index: 1;
	width: 18px;
	height: 18px;
	background-image: url(mono/guitarpick.svg);
	background-size: 16px 16px;
	background-position: center;
	background-repeat: no-repeat;

	transition: .2s;
}

.snmp-container {
	position: relative;
}

.snmp-container-item {
	position: relative;
	height: 28px;
	border-bottom: rgb(128,128,128) 1px solid;
}
.snmp-container-item:hover {
	background-color: var(--clr-highlight);
}

.snmp-container-item > div {
	display: inline-block;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
}

.snmp-container-item > div:nth-child(1) {
	font-weight: 700;
	width: 40%;
	max-width: 300px;
	padding-left: 32px;
	height: 28px;
	line-height: 28px;
}

.snmp-container-item > div:nth-child(1) > div {
	display: inline-block;
	font-weight: 400;
	color: rgb(72,72,72);
	text-align: center;
	min-width: 16px;
	border: rgb(72,72,72) 1px solid;
	border-radius: 12px;

	padding: 0 4px;
	margin: 2px 0 2px 8px ;

	height: 20px;
	line-height: 20px;
}

.snmp-container-item > div:nth-child(2) {
	max-width: calc(60% - 8px);
	color: var(--clr-light);
	background-color: rgb(72,72,72);
	border-radius: 4px;
	padding: 0 4px;
	margin: 2px 0;
	height: 24px;
	line-height: 24px;
}

.snmp-container-sup {
	display: none;
	padding-left: 16px;
}

.snmp-tree-hline,
.snmp-tree-vline {
	position: absolute;
	background-color: var(--clr-dark);
}

.snmp-tree-hline {
	left: 0;
	top: 14px;
	width: 16px;
	height: 2px !important;
}

.snmp-tree-vline {
	left: 16px;
	top: 12px;
	width: 2px;
	height: calc(100% - 25px);
}

.snmp-tree-dot {
	position: absolute;
	background-color: var(--clr-dark);
	width: 8px;
	height: 8px !important;
	left: 12px;
	top: 11px;
	border-radius: 4px;
}

.snmp-container:last-child > .snmp-container-sup::after {
	position: absolute;
	content: " ";
	background-color: var(--clr-pane);
	width: 2px;
	height: calc(100% - 16px);
	z-index: 1;
	left: 0;
	bottom: 0;
}
