.snmp-input {
	position: absolute;
	left: 8px;
	right: 40px;
	max-width: 800px;
	top: 8px;
	height: 122px;
	display: grid;
	grid-template-columns: 96px auto 112px 56px 56px 56px;
	grid-template-rows: 32px 32px 32px 24px;
	transition: .2s;
}

.snmp-toggle-button {
	all: unset;
	position: absolute;
	right: 8px;
	top: 96px;
	width: 28px !important;
	min-width: 28px !important;
	height: 28px!important;
	min-height: 28px !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	background-color: transparent !important;
	background-image: url(/mono/guitarpick.svg?light);
	background-size: 20px 20px;
	background-position: center;
	background-repeat: no-repeat;
	transform: rotate(-180deg);
}
.snmp-toggle-button:active {
	background-size: 22px 22px;
}

.snmp-plot {
	color: var(--clr-dark);
	background-color: var(--clr-pane);
	border-radius: 2px;
	overflow: auto;
	position: absolute;
	left: 4px;
	right: 4px;
	top: 136px;
	bottom: 4px;
	transition: .4s;
}

.snmp-plot > div {
	position: relative;
	height: 28px;
	border-bottom: rgb(128,128,128) 1px solid;
	-webkit-user-select: text;
	user-select: text;
}

.snmp-plot > div:hover {
	background-color: var(--clr-highlight);
}

.snmp-plot > div > div {
	display: inline-block;
	box-sizing: border-box;
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.snmp-plot > div > div:nth-child(1) {
	width: 30%;
	max-width: 500px;
	padding-left: 8px;
	font-style: italic;
}

.snmp-plot > div > div:nth-child(2) {
	width: 30%;
	max-width: 400px;
}

.snmp-plot > div > div:nth-child(3) {
	width: 10%;
	max-width: 120px;
}

.snmp-plot > div > div:nth-child(4) {
	width: 30%;
	max-width: 600px;
}

.snmp-plot > div > div:nth-child(4) > div {
	display: inline-block;
	color: rgb(72,72,72);
	border: rgb(72,72,72) 1px solid;
	border-radius: 4px;
	padding: 0px 2px;
	margin-left: 8px;
	height: 20px;
	line-height: 20px;
  
}