.terminal-content {
	font-family: consolas, monospace;
	margin: 20px;
}

.terminal-cursor {
	position: absolute;
	top: 0;
	left: 0;
	width: 3px;
	height: 20px;
	border-radius: 1px;
	opacity: 0;
	background-color: var(--clr-accent);
	box-shadow: var(--clr-accent) 0 0 2px;
}

.terminal-content:focus > .terminal-cursor{
	animation: terminal-cursor 1.2s infinite;
}

@keyframes terminal-cursor {
	0%  {opacity:.1;}
	30% {opacity:1;}
	70% {opacity:1;}
	100%{opacity:.1;}
}