.terminal-content {
	font-family: consolas, monospace;
	margin: 20px;
	overflow-y: scroll;
	-webkit-user-select: text; user-select: text;
}

.terminal-content > span {
	position: absolute;
	width: 8px;
	height: 18px;
	font-size: 15px;
}

.terminal-status-box {
	display: none;
	position: sticky;
	top: 20px;
	left: calc(50% - 110px);
	width: 200px;
	padding: 20px 20px 20px 64px;
	text-align: center;
	z-index: 1;
	border-radius: 4px;
	box-shadow: var(--clr-dark) 0 0 4px;
	font-family: var(--global-font-family);
	font-weight: 800;
	white-space: nowrap;
	color: var(--clr-dark);
	background-color: var(--clr-pane);
	background-image: url(mono/connect.svg);
	background-size: 48px 48px;
	background-position: 8px 50%;
	background-repeat: no-repeat;
	-webkit-user-select: none; user-select: none;
}

.terminal-cursor {
	position: absolute;
	z-index: 1;
	width: 3px;
	height: 20px;
	transition: .25s;
}

.terminal-cursor > div {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 1px;
	background-color: var(--clr-accent);
	box-shadow: var(--clr-accent) 0 0 2px;
}

.terminal-content:focus > .terminal-cursor > div {
	animation: terminal-cursor 1.2s infinite;
}

@keyframes terminal-cursor {
	0%  {opacity:.1}
	30% {opacity:1}
	70% {opacity:1}
	100%{opacity:.1}
}

@keyframes terminal-blinking {
	0%  {opacity:.1}
	30% {opacity:1}
	70% {opacity:1}
	100%{opacity:.1}
}

@keyframes terminal-shake {
	10%, 90%      {transform:translateX(-1px)}
	20%, 80%      {transform:translateX(2px)}
	30%, 50%, 70% {transform:translateX(-4px)}
	40%, 60%      {transform:translateX(4px)}
}