.topology-workspace {
	position: absolute;
	width: calc(100% - 366px);
	height: 100%;
	overflow: auto;
}

.topology-workspace > svg {
	background-size: 50px 50px;
	background-image:
	linear-gradient(to right, transparent 47px, rgba(96,96,96,.5) 48px, transparent 49px),
	linear-gradient(to bottom, transparent 47px, rgba(96,96,96,.5) 48px, transparent 49px);
}

.topology-sidebar {
	position: absolute;
	right: 8px;
	width: 350px;
	top: 8px;
	bottom: 8px;
	color: var(--clr-dark);
	background-color: var(--clr-pane);
	border-radius: 4px;
	padding: 4px;
	box-sizing: border-box;
	overflow-y: auto;
}

.topology-sidebar-grid {
	display: grid;
	background-color: var(--clr-control);
	grid-template-columns: 88px auto;
	grid-template-rows: 18px 18px 18px 18px;
	margin-bottom: 16px;
	padding: 4px 0;
	border-radius: 4px;
	-webkit-user-select: text; user-select: text;
}

.topology-error-message {
	text-align: center;
	font-weight: bold;
	color: var(--clr-light) !important;
	background-color: var(--clr-dark);
	border-radius: 4px;
	line-height: 24px;
}

.topology-error-message::before {
	position: absolute;
	width: 12px;
	height: 12px;
	content: "";
	left: 16px;
	transform: translateY(6px);
	border-radius: 6px;
}

.topology-error-message[nosnmp]::before {
	background-color: var(--clr-error);
	animation: blink 2s infinite;
}

.topology-error-message[undocumented]::before {
	background-color: rgb(240,128,24);
}

.topology-vlan-list,
.topology-interface-list {
	outline: 0;
	border: 2px solid var(--clr-control);
	padding: 4px;
	border-radius: 4px;
}

.topology-vlan-list > summary,
.topology-interface-list > summary {
	outline: 0;
	font-weight: bold;
	background-color: var(--clr-control);
	padding: 2px;
	margin: -4px;
}

.topology-vlan-list > summary:focus-visible,
.topology-interface-list > summary:focus-visible {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-decoration-color: var(--clr-select);
}

.topology-vlan-list[open] > summary,
.topology-interface-list[open] > summary {
	margin-bottom: 8px;
}

.topology-vlan-list > summary::marker,
.topology-interface-list > summary::marker {
	content: "";
}
.topology-vlan-list > summary::before,
.topology-interface-list > summary::before {
	content: "";
	display: inline-block;
	width: 14px;
	height: 14px;
	padding-left: 8px;
	background-image: url("mono/guitarpick.svg");
	background-size: 14px 14px;
	background-position: center;
	background-repeat: no-repeat;
	transform: rotate(-90deg);
	transition: .2s;
}

.topology-vlan-list[open] > summary::before,
.topology-interface-list[open] > summary::before {
	transform: rotate(0deg) !important;
}

.topology-vlan-list > div > div {
	display: inline-block;
	box-sizing: border-box;
	min-height: 22px;
	padding: 2px 0;
	margin: 1px 0;
	color: #000;
	font-size: small;
	background-color: var(--clr-control);
	border-radius: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-user-select: all; user-select: all;
}

.topology-vlan-list > div > div:nth-child(1) {
	width: 25%;
	margin-left: 2px;
	margin-right: 4px;
	text-align: center;
}

.topology-vlan-list > div > div:nth-child(2) {
	width: calc(75% - 12px);
	text-align: left;
	padding-left: 8px;
	margin-left: 4px;
	margin-right: 2px;
}

.topology-vlan-list > div:hover > div{
	background-color: var(--clr-select);
}

.topology-interface-list {
	margin-top: 16px;
}

.topology-interface-list > div > div {
	display: inline-block;
	box-sizing: border-box;
	background-color: var(--clr-control);
	min-height: 22px;
	padding: 2px 0;
	margin: 1px 0;
	color: #000;
	font-size: small;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-user-select: all; user-select: all;
}

.topology-interface-list > div > div:nth-child(1) {
	width: 25%;
	margin-left: 2px;
	margin-right: 4px;
	border-radius: 4px;
}

.topology-interface-list > div > div:nth-child(1)::after {
	position: absolute;
	content: "";
	background-color: var(--clr-control);
	width: 8px;
	height: 4px;
	left: calc(25% + 7px);
	box-sizing: border-box;
	transform: translateY(7px);
}

.topology-interface-list > div > div:nth-child(2) {
	width: calc(75% - 12px);
	text-align: left;
	padding-left: 8px;
	margin-left: 4px;
	margin-right: 2px;
	border-radius: 4px;
}

.topology-interface-list > div > div:nth-child(3) {
	width: calc(25% - 2px);
	border-radius: 0 4px 4px 0;
}

.topology-interface-list > div:hover > div,
.topology-interface-list > div:hover > div:first-child::after {
	background-color: var(--clr-select);
}

.topology-interface-list-selected:hover > :nth-child(3) {
	border-left: 2px solid var(--clr-dark);
}

.topology-interface-list-selected > div {
	outline: 2px solid var(--clr-select);
}

.topology-interface-list-selected > div:first-child::after {
	border-top: 2px solid var(--clr-select);
	border-bottom: 2px solid var(--clr-select);
	height: 8px !important;
	transform: translateY(5px) !important;
}

.snmp-ambiguous::after {
	position: absolute;
	content: "?";
	text-align: center;
	font-weight: bold;
	color: var(--clr-light);
	background-color: var(--clr-dark);
	right: 2px;
	width: 14px;
	height: 14px;
	line-height: 14px;
	border-radius: 6px;
	overflow: hidden;
	transform: translateY(2px);
}

*:hover.snmp-ambiguous::after {
	content: "ambiguous";
	font-weight: normal;
	width: 84px;
	height: 16px;
	line-height: 16px;
	transform: translateY(1px);
	transition: .2s;
}

.topology-selected {
	fill: color-mix(in srgb, var(--clr-select) 60%, transparent 40%);
	stroke: var(--clr-select);
	stroke-width: 2px;
}

.topology-info-box {
	position: absolute;
	right: 374px;
	width: max-content;
	min-width: 250px;
	min-height: 150px;
	padding: 4px;
	background-color: color-mix(in srgb, var(--clr-pane) 80%, transparent);
	backdrop-filter: blur(8px) brightness(80%);
	border: var(--clr-select) solid 2px;
	border-radius: 4px;
	font-size: small;
	color: #000;
	transition: .2s;
}

.topology-info-box > div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.topology-info-box::after {
	position: absolute;
	content: "";
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 11px solid var(--clr-select);
	right: -12px;
	top: 4px;
	transition: .2s;
}

.topology-info-box-last::after {
	top: unset;
	bottom: 4px;
}

.topology-info-box-over-up::after {
	border-top: 0 solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 10px solid var(--clr-select);
}

.topology-info-box-over-down::after {
	top: unset;
	bottom: 4px;
	border-top: 12px solid transparent;
	border-bottom: 0 solid transparent;
	border-left: 10px solid var(--clr-select);
}

@keyframes topology-spinner-animation {
	0%  { stroke-dashoffset: 0px; }
	100%{ stroke-dashoffset: -24.5px; }
}

@keyframes topology-device-animation {
	0%   { opacity: 0; transform: translate(10px, 10px) scale(.6) }
	100% { opacity: 1; transform: translate(0, 0) scale(1) }
}