.topology-workspace {
	position: absolute;
	width: calc(100% - 366px);
	height: 100%;
	background-color: var(--clr-bg);
	overflow: auto;
}

.topology-sidebar {
	position: absolute;
	right: 8px;
	width: 350px;
	top: 8px;
	bottom: 8px;
	color: var(--clr-dark);
	background-color: var(--clr-pane);
	border-radius: 4px;
	padding: 8px;
	box-sizing: border-box;
	overflow-y: auto;
}

.topology-sidebar-grid {
	display: grid;
	grid-template-columns: 88px auto;
	grid-template-rows: 16px 16px 16px 16px;
	margin-bottom: 16px;
	-webkit-user-select: text; user-select: text;
}

.topology-interface-list {
	margin-top: 16px;
}

.topology-interface-list > div > div {
	display: inline-block;
	box-sizing: border-box;
	background-color: var(--clr-control);
	min-height: 24px;
	padding: 2px 0;
	margin: 2px 0;
	color: #000;
	font-size: small;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-user-select: text; user-select: text;
}

.topology-interface-list > div > div:nth-child(1) {
	width: 25%;
	margin-right: 4px;
	border-radius: 4px;
}

.topology-interface-list > div > div:nth-child(1)::after {
	position: absolute;
	content: "";
	background-color: var(--clr-control);
	width: 12px;
	height: 4px;
	left: 25%;
	transform: translateY(8px);
}

.topology-interface-list > div > div:nth-child(2) {
	width: calc(50% - 12px);
	margin-left: 4px;
	margin-right: 2px;
	border-radius: 4px 0 0 4px;
}

.topology-interface-list > div > div:nth-child(3) {
	width: calc(25% - 2px);
	border-radius: 0 4px 4px 0;
}

.topology-interface-list > div:hover > div,
.topology-interface-list > div:hover > div:nth-child(1)::after {
	background-color: var(--clr-select);
}

.topology-selected {
	fill: color-mix(in srgb, var(--clr-select) 60%, transparent 40%);
	stroke: var(--clr-select);
	stroke-width: 2px;
}

@keyframes topology-spinner-animation {
	0%  { stroke-dashoffset: 0px; }
	100%{ stroke-dashoffset: -24.5px; }
}