.topology-device {
	position: absolute;
	border-radius: 4px;
	color: var(--clr-light);
	max-width: 72px;
}

.topology-selected {
	background-color: var(--clr-select);
	z-index: 1;
}

.topology-device-icon {
	width: 72px;
	height: 64px;
	background-color: var(--clr-light);
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: 56px;
}

.topology-device-label {
	color: var(--clr-light);
	font-size: x-small;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	direction: rtl;
}
