.view-toolbar {
	position: absolute;
	top: 0;
	left: 52px;
	right: 0px;
	max-width: 800px;
	z-index: 1;
	transition: .2s;
	white-space: nowrap;
}

.view-timeline {
	position: absolute;
	top: 48px;
	height: 40px;
	left: 52px;
	right: 0px;
	max-width: 800px;
	color: var(--clr-dark);
	background-color: var(--clr-pane);
	border-radius: 4px;
	overflow: hidden;

	transition: .2s;
}

.view-timeline > div {
	position: relative;
	left: 12px;
	width: calc(100% - 24px);
	height: 100%;
}

.view-timeline .timeline-con {
	position: absolute;
	top: 0;
	width: min(1.6%, 12px);
	height: 100%;
}
.view-timeline .timeline-con:hover {
	background-color: var(--clr-highlight);
}

.view-timeline .timeline-dot {
	position: absolute;
	top: 14px;
	width: 100%;
	height: 12px;
	background-color: #404040;
	border-radius: 6px;
	box-sizing: border-box;

	transition: background-color .4s;
}

.view-scroll {
	position: absolute;
	top: 48px;
	bottom: 8px;
	left: 52px;
	right: 0px;
	max-width: 800px;
	overflow-y: auto;

	transition: .2s;
}

.view-scroll > div:not(:last-child) {
	margin-bottom: 8px;
}

.view-scroll > div:last-child {
	margin-top: 40px;
}

.view-scroll > div:first-child {
	margin-top: 0px;
}

.view-scroll > div:empty {
	display: none;
}

.view-attributes-list {
	top: 0px;
	width: 100%;
	color: var(--clr-dark);
	background-color: var(--clr-pane);
	border-radius: 4px;
	padding: 2px 0;
	overflow: hidden;

	transition: .2s;
}

.view-attributes-list > div {
	background-position: calc(100% - 4px) center;
	background-size: 16px 16px;
	background-repeat: no-repeat;
	animation: zoom-in-background 1 .4s;
	transition: height .2s;
}

.view-attributes-list > div:first-child {
	border-radius: 4px 4px 0 0;
}
.view-attributes-list > div:last-child {
	border-radius: 0 0 4px 4px;
}
.view-attributes-list > div:only-child {
	border-radius: 4px 4px 4px 4px;
}

.view-attributes-freeze:empty {
	background-color: transparent;
}

.view-attributes-freeze > div:hover {
	background-color: var(--clr-highlight);
}

.view-attributes-freeze > div input[type="text"] {
	all: unset;
	overflow: hidden;
	text-overflow: ellipsis;
}
.view-attributes-freeze > div > input[type="text"]:nth-child(1) {
	text-transform: capitalize;
}

.view-attributes-freeze > div div:nth-child(2) > input[type="text"] {
	padding-left: 0;
}

.view-attributes-list > div[source]::after { /*source*/
	position: absolute;
	content: attr(source);
	right: 38px;
	transform: translateY(5px);
	color: var(--clr-dark);
	background-color: var(--clr-control);
	border: 1px solid var(--clr-dark);
	border-radius: 4px;
	padding: 0px 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.view-attributes-list > div input[type="text"] {
	box-sizing: border-box;
	margin: 2px 0px 2px 4px;
	padding: 4px 8px;

	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 4px center;
}

.view-attributes-list > div > input[type="text"]:nth-child(1) {
	width: max(100px, 25%);
}

.view-attributes-list > div > div:nth-child(2) { /*value container*/
	display: inline-block;
	width: calc(100% - max(100px, 25%) - 44px);
}

.view-attributes-list > div:has(> div[previous]):focus-within {
	height: 56px;
}
.view-attributes-list > div > div:nth-child(2)[previous]:focus-within::after { /*fetch previous value*/
	position: absolute;
	display: block;
	content: attr(previous);
	left: calc(max(100px, 25%) + 40px);
	width: calc(100% - max(100px, 25%) - 44px);
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: line-through;
	white-space: nowrap;
	animation: previous-fall-in .2s 1;
}

.view-attributes-list > div div:nth-child(2) > input[type="text"] { /*value text box*/
	width: 100%;
}

.view-attributes-list > div div:nth-child(2) > div { /*value div*/
	display: inline-block;
	border: 1px var(--clr-dark) solid;
	border-radius: 2px;
	padding: 0 4px;
	margin: 2px;
	-webkit-user-select: text; user-select: text;
}

.view-attributes-list > div > input[type="button"]:nth-child(3) { /*remove button*/
	position: absolute;
	right: 4px;

	width: 28px;
	min-width: 28px;
	height: 28px;
	background-color: var(--clr-control) !important;
	background-image: url(mono/delete.svg);
	background-size: 20px 20px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 2px 0px 2px 4px;
	transition: .2s;
}

.view-attributes-list > div > div:nth-child(4) {
	position: absolute;
	right: 0px;
	transform: translateY(-26px);
	text-align: right;
	width: auto;
	max-width: auto;
	overflow: hidden;

	visibility: hidden;
	opacity: 0;
	transition: opacity .2s, right .2s;
	transition-delay: .4s;
}

.view-attributes-list > div > div:nth-child(4) > div {
	display: inline-block;
	color: var(--clr-light);
	background-color: var(--clr-dark);
	border-radius: 4px;
	padding: 0 4px;
	margin-left: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
}

.view-attributes-list > div > div:nth-child(4) > div:nth-child(1) {
	max-width: 160px;
}
.view-attributes-list > div > div:nth-child(4) > div:nth-child(2) {
	max-width: 100px;
}

.view-attributes-list > .view-attributes-group {
	min-height: 0 !important;
	margin: 16px 8px 0 8px;
	padding-left: 40px;
	border-radius: 2px;
	line-height: 32px;
	text-transform: capitalize;
	font-weight: 600;
	background-repeat: no-repeat;
	background-size: 28px 28px;
	background-position: 4px 50%;
	background-color: #80808040 !important;
	animation: none !important;

	transition: .2s;
}

.view-attributes-freeze > div input[type="text"]:nth-child(2) {
	width: calc(100% - max(100px, 25%) - 12px);
}

.view-attributes-freeze > div > input[type="button"]:nth-child(3) {
	display: none;
}

.view-attributes-freeze > div:hover > div:nth-child(4) {
	visibility: visible;
	opacity: 1;
	right: 6px;
	transition-delay: .8s;
}


.view-attributes-freeze > div > div:nth-child(4):hover > div {
	max-width: initial;
}

.view-attributes-with-info > div {
	display: block !important;
}

.view-attributes-with-info > div > div:nth-child(4) {
	visibility: visible;
	opacity: 1;
	right: 6px;
	transition-delay: 0s !important;
}

.view-attributes-with-info > div > div:nth-child(4) > div {
	max-width: initial !important;
}

.view-password-preview {
	padding: 2px 8px !important;
	border: none !important;
	-webkit-user-select: all !important; user-select: all !important;

	background: linear-gradient(0deg, var(--clr-accent) 0%, var(--clr-accent) 100%);
	background-size: 0px 0px;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	animation: password-countdown 15s 1 linear;
}

.view-info-pane {
	position: absolute;
	display: none;
	top: 48px;
	bottom: 8px;
	left: 1000px;
	margin-left: 4px;
	right: 0;
	max-width: 800px;
	overflow-y: auto;

	animation: slide-right .2s ease-out 1;
}

button.view-live-button {
	display: inline-block;
	height: 52px;
	text-align: left;
	vertical-align: top;

	padding: 4px 8px 4px 40px;
	color: var(--clr-dark);
	background-color: var(--clr-pane);
	background-size: 32px 32px;
	background-position: 4px center;
	background-repeat: no-repeat;
}

button.view-live-button:hover,
button.view-live-button:focus-visible {
	filter: brightness(1.2);
}

button.view-live-button:active {
	filter: brightness(1.1);
}

.view-info-pane > div {
	background-color: color-mix(in hsl, rgb(64,64,64) 50%, transparent);
	margin: 0 8px 16px 8px;
	padding: 8px;
	border: var(--clr-pane) solid 2px;
	border-radius: 4px;
}

.view-info-pane > div:empty {
	display: none !important;
}

.view-config-code-box {
	padding: 20px;
	color: #E0E0E0;
	background-color: #282828;
	font-family: monospace;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-user-select: text;
	user-select: text;
	counter-reset: code-enumeration;
}

.view-config-code-box *::selection {
	color: #000 !important;
	background-color: var(--clr-select) !important;
}

.view-config-code-box > div {
	display: flex;
}

.view-config-code-box > div:before {
	text-align: right;
	padding-right: 24px;
	color: #808080;
	counter-increment: code-enumeration;
	content: counter(code-enumeration);
	display: inline-block;
	min-width: 40px;
	font-weight: 400;
}

.view-config-code-box > div > span {
	display: contents;
}

.view-interfaces-frame {
	display: grid;
	background-color: var(--clr-pane);
	grid-template-columns: repeat(8, 50px);
	grid-template-rows: 50px;
	padding: 12px;
	min-width: 228px;
	min-height: 40px;
	border-radius: 4px;
	box-sizing: border-box;
}

.view-interface-port {
	width: 48px;
	height: 48px;
	border-radius: 4px;
}

.view-interface-port:hover {
	background-color: var(--clr-select);
	box-shadow: 0 -3px 0px 3px var(--clr-select);
}

.view-interface-port > div:nth-child(1) {
	width: 100%;
	height: 100%;
	background-image: url(res/ethernetport.svgz);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	display: grid;
}

.view-interface-port > div:nth-child(2) {
	position: relative;
	top: calc(-100% - 8px);
	text-align: center;
	font-size: x-small;
	font-weight: bold;
	color: #202020;
}

.view-interface-port > div:nth-child(1) > div { /*led*/
	border-radius: 30%;
}

.view-interface-port > div:nth-child(1) > div:nth-child(1) { /*led1*/
	grid-area: 2 / 2;
}

.view-interface-port > div:nth-child(1) > div:nth-child(2) { /*led2*/
	grid-area: 2 / 4;
}

.view-interfaces-edit-title > * {
	display: inline-block;
	height: 100%;
	padding: 2px 4px;
	text-align: center;
}
.view-interfaces-edit-title > *:nth-child(1) {
	width: 120px;
	margin-left : 20px;
}
.view-interfaces-edit-title > *:nth-child(2) {
	width: 120px;
}
.view-interfaces-edit-title > *:nth-child(3) {
	width: 72px;
}
.view-interfaces-edit-title > *:nth-child(4) {
	width: 162px;
}

.view-interfaces-edit-list-element {
	position: absolute;
	width: calc(100% - 8px);
	max-width: 882px;
	box-sizing: border-box;
	height: 32px;
	left: 8px;
	overflow: hidden;
	border-radius: 4px;
	transition: .1s;
	transform-origin: 0 50%;
}

.view-interfaces-edit-list-element > * {
	float: left;
}

.view-interfaces-edit-list-element > *:nth-child(1) {
	width: 8px;
	height: 22px;
	margin-left: 4px;
	margin-right: 1px;
	transform: translateY(5px) scaleY(1.2);
	cursor: move;
	border-radius: 2px;
	background-color: var(--clr-control);
}
.view-interfaces-edit-list-element > *:nth-child(2) {
	width: 120px;
}
.view-interfaces-edit-list-element > *:nth-child(3) {
	 width: 120px;
}
.view-interfaces-edit-list-element > *:nth-child(4) {
	 width: 64px;
}
.view-interfaces-edit-list-element > *:nth-child(5) {
	width: 188px;
	padding-left: 32px;
	background-image: url(mono/gear.svg);
	background-size: 20px 20px;
	background-position: 4px center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.view-interfaces-edit-list-element > *:nth-child(6) {
	width: calc(100% - 574px);
	min-width: 100px;
	max-width: 308px;
}
.view-interfaces-edit-list-element > *:last-child {
	min-width: 28px;
	height: 28px;
	margin: 2px 0px 0px 0px;
	background-color: var(--clr-control);
	background-image: url(mono/delete.svg);
	background-size: 24px 24px;
	background-position: center;
	background-repeat: no-repeat;
}

.view-lifeline-graph {
	position: relative;
	width: 100%;
	height: 132px;
	background-color: #C0C0C020;
	border-radius: 4px;
	overflow: hidden;
}

.view-lifeline-graph:not(:last-child) {
	margin-bottom: 12px;
}

.view-lifeline-graph > svg {
	position: absolute;
	right: 0;
	top: 4px;
}

.view-lifeline-graph > .view-lifeline-label {
	position: absolute;
	z-index: 1;
	left: 8px;
	top: 2px;
	font-size: 12px;
	color: var(--clr-light);
	font-weight: 600;
	text-shadow: var(--clr-dark) 0 0 2px;
	transition: .2s;
}

.view-lifeline-graph > .view-lifeline-icon {
	position: absolute;
	z-index: 1;
	left: 8px;
	top: 20px;
	width: 32px;
	height: 32px;
	background-size: cover;
	filter: drop-shadow(var(--clr-dark) 0 0 2px);
	transition: .4s;
}

.view-lifeline-graph > .view-lifeline-info {
	position: absolute;
	z-index: 2;
	min-Width: 50px;
	min-Height: 20px;
	padding: 0 4px;
	box-sizing: border-box;
	color: var(--clr-dark);
	background-color: var(--clr-pane);
	border-radius: 2px;
	box-sizing: rgba(32,32,32,.5) 0 0 4px;
	opacity: 0;
	pointer-events: none;
	white-space: nowrap;
	transition: opacity .25s, top .2s;
}

.view-lifeline-graph:hover > .view-lifeline-label,
.view-lifeline-graph:hover > .view-lifeline-icon{
	opacity: 0;
	visibility: hidden;
	transform: translateX(-24px);
}

.view-info-box,
.view-warning-box,
.view-error-box,
.view-critical-box {
	font-weight: 600;
	margin: 0 0 4px 0;
	padding: 6px 0 6px 36px;
	border-radius: 4px;
	background-position: 4px center;
	background-size: 24px 24px;
	background-repeat: no-repeat;
	-webkit-user-select: text;
	user-select: text;
}

.view-info-box {
	color: var(--clr-light);
	background-color: transparent;
	background-image: url(mono/info.svg?light);
}

.view-warning-box {
	color: var(--clr-dark);
	background-color: var(--clr-warning);
	background-image: url(mono/warning.svg);
}

.view-error-box {
	color: var(--clr-dark);
	background-color: var(--clr-error);
	background-image: url(mono/error.svg);
}

.view-critical-box {
	color: var(--clr-dark);
	background-color: var(--clr-critical);
	background-image: url(mono/critical.svg);
}

.view-info-box[source]::before,
.view-warning-box[source]::before,
.view-error-box[source]::before,
.view-critical-box[source]::before { /*source*/
	display: inline-block;
	content: attr(source);
	font-weight: bold;
	vertical-align: bottom;
	min-width: 50px;
	padding: 0 4px;
	margin: 0 8px 0 0;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.view-info-box[source]::before {
	color: #404040;
	background-color: #c0c0c0;
}
.view-warning-box[source]::before {
	color: var(--clr-warning);
	background-color: #202020;
}
.view-error-box[source]::before {
	color: var(--clr-error);
	background-color: #202020;
}
.view-critical-box[source]::before {
	color: var(--clr-critical);
	background-color: #202020;
}

.view-side-tools {
	position: absolute;
	left: 4px;
	top: 48px;
	width: 40px;
	z-index: 2;
	min-height: 40px;
	transition: .2s;
}

.view-side-tools > button {
	margin: 0;
	padding: 0;
	margin-bottom: 6px;
	width: 100%;
	min-width: 24px !important;
	height: 32px;
	line-height: 32px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
	padding-left: 40px;
	color: var(--clr-dark);
	background-color: var(--clr-pane);
	background-size: 26px 26px;
	background-position: 7px center;
	background-repeat: no-repeat;
}

.view-side-tools > button:hover,
.view-side-tools > button:focus-visible {
	width: 192px !important;
	filter: brightness(1.2);
}

.view-side-tools > button:active {
	filter: brightness(1.1);
}

.view-side-tools > button[busy]:after {
	content: "";
	position: absolute;
	right: 0px;
	width: 14px;
	height: 14px;
	margin: 18px 0px;
	box-sizing: border-box;

	border-style: solid;
	border-radius: 50%;
	border-width: 2px 3px 4px 0px;
	border-color: var(--clr-accent) var(--clr-accent) transparent transparent;

	animation: spin 2s linear infinite;
	transition: .2s;
}

.view-fetch-floating-button {
	position: absolute;
	left: 2px;
	width: 36px !important;
	min-width: 36px !important;
	height: 36px !important;
	margin: 2px 4px !important;
	background-image: url(mono/ball.svg?light);
	background-size: 34px 34px;
	background-position: center;
	background-repeat: no-repeat;
	transition: .2s !important;
}

@container (min-width: 800px) {
	.view-timeline,
	.view-toolbar,
	.view-scroll {
		left: 204px;
	}

	.view-side-tools {
		width: 192px;
	}
	.view-side-tools > button[busy]:after {
		width: 20px;
		height: 20px;
		margin: 7px 4px !important;
		border-width: 3px 4px 5px 0px;
	}

	.view-fetch-floating-button {
		left: 154px;
	}
}

@keyframes zoom-in-background {
	0%   { background-position: calc(100% - 12px) center; background-size: 0px 0px; }
	80%  { background-position: calc(100% - 2px) center; background-size: 20px 20px; }
	100% { background-position: calc(100% - 4px) center; background-size: 16px 16px; }
}

@keyframes attribute-in {
	0%{   opacity:0; transform: scaleY(.8);}
	100%{ opacity:1; transform: scaleY(1);}
}

@keyframes password-countdown {
	0%   { background-size: 100% 4px; }
	100% { background-size: 0% 4px; }
}

@keyframes previous-fall-in {
	0%{   opacity:0; transform:translateY(-12px); }
	100%{ opacity:1; transform:translateY(0); }
}

@keyframes slide-right {
	0% { opacity:0; transform:translateX(-150px); }
	100% { opacity:1; transform: none; }
}