.debit-note-panel1 {
    background-color: rgb(64,64,64);
    grid-column: 1;
    grid-row: 1 / 3;

    text-align: center;
}

.debit-note-panel2 {
    background-color: var(--control-color);
    color: #202020;
    grid-column: 2;
    grid-row: 1 / 3;
    overflow-y: auto;
}

.debit-note-panel3 {
    background-color: rgb(56,56,56);
    grid-column: 3;
    grid-row: 1 / 3;
    overflow: auto;
    padding: 16px 8px;

    user-select: text;
    -webkit-user-select: text;
    -webkit-user-drag: text;
}

.debit-note-panel1 > input[type="button"] {
    margin-top: 8px;
    min-width: 96px;
    min-height: 32px;
    box-sizing: content-box;
}

.debit-note-entry {
    font-weight: 500;
    height: 24px;
    padding: 6px 0px 4px 8px;
}

.debit-note-entry:hover {
    background-color: var(--select-color) !important;
}

.debit-note-entry:hover > .debit-note-entry-opt {
    visibility: visible;
}

.debit-note-entry > * {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.debit-note-entry > div:first-child {
    width: 184px;
    height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.debit-note-entry > .debit-note-entry-opt {
    visibility: hidden;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    background-size: 20px 20px;
}

.debit-note-entry > .debit-note-entry-opt:nth-child(2) { background-image: url(res/printer.svgz); }
.debit-note-entry > .debit-note-entry-opt:nth-child(3) { background-image: url(res/retured.svgz); }
.debit-note-entry > .debit-note-entry-opt:nth-child(4) { background-image: url(res/new_user.svg); transform:rotate(45deg) scale(1.1); }

.debit-note-entry > *:nth-child(5) {
    font-size: 12px;
    border: #202002 2px solid;
    border-radius: 2px;
    padding: 0px 2px;
    margin: 1px 0px 1px 2px;
    transform: translateY(-6px);
}

.debit-note-create-dialog {
    padding: 20px 48px;
    display: grid;
    grid-template-columns: 100px 250px 100px 100px 250px auto 40px;
    grid-template-rows: repeat(4, 32px) auto;
    align-items: center;
}

.debit-note-equip-list {
    position: absolute;
    border: rgb(128,128,128) 1px solid;
    overflow-y: auto;
    min-width: 800px;
    max-width: 1200px;
    min-height: 64px;
    left: 40px;
    right: 40px;
    top: 200px;
    bottom: 8px;
}

.debit-note-equip-entry {
    width: 100%;
    height: 32px;
}

.debit-note-equip-entry > input {
    margin-top: 3px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.debit-note-equip-entry > *:nth-child(1) { width: calc(60% - 150px); }
.debit-note-equip-entry > *:nth-child(2) { width: 50px; }
.debit-note-equip-entry > *:nth-child(3) { width: 40%; }

.debit-note-equip-entry:hover > *:nth-child(4) {
    visibility: visible;
    opacity: 1;
}
.debit-note-equip-entry > *:nth-child(4) {
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    display: inline-block;
    margin-bottom: -3px;
    width: 20px;
    height: 20px;
    background-color: var(--control-color);
    background-image: url("res/close.svgz");
    background-size: 20px 20px;
    background-repeat: no-repeat;
    border: #888 1px solid;
    border-radius: 50%;
}