.gandalf-item {
    height: 24px;
    white-space: nowrap;
}

.gandalf-item > div {
    color: white;
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.gandalf-item > div:nth-child(1) {
    width: 35%;
    
    padding-left: 28px;

    background-size: 22px 22px;
    background-position: 2px 1px;
    background-repeat: no-repeat;
}

.gandalf-item > div { height: 100%; }
.gandalf-item > div:nth-child(2) {width:10%; min-width:72px;}
.gandalf-item > div:nth-child(4) {width:15%; padding-left:4px;}
.gandalf-item > div:nth-child(5) {width:calc(35% - 40px);}

.passwors-strength-bar,
.gandalf-item > div:nth-child(3) {
    width: 32px;
    height: 16px;
    border: gray 1px solid;
    border-radius: 2px;
}

.gandalf-item:hover {
    background-color: var(--theme-color);
}

.gandalf-item:hover > div {
    /*color: black;*/
}

.titleBar {
    background-color: rgb(72,72,72) !important;
    width: calc(100% - 14px);
    text-decoration: underline;
    font-weight: 500;
    cursor: pointer;
}
