
.v-tabs {
    position: absolute;
    width: 150px;
    margin-top: 24px;
}

.v-tabs > div {
    margin: 4px 0 4px 4px;
    padding: 8px;
    color: rgb(192,192,192);
    background-color: rgb(72,72,72);
    border-radius: 8px 0 0 8px;
    text-align: right;
    padding-right: 16px;
}

.v-tabs > div:hover {
    transition: .2s;
    background-color: rgb(88,88,88) !important;
}

.v-tab-body {
    position: absolute;
    left: 150px;
    right: 8px;
    top: 8px;
    bottom: 8px;
    background-color: rgb(96,96,96);
    border-radius: 4px;
    padding: 4px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.v-tab-body > div {
    padding: 4px;
    border-radius: 2px;
}

.v-tab-body > div:hover {
    background-color: var(--select-color);
    color: rgb(32,32,32);
}


.script-tools-pane {
    position: absolute;
    left: 0;
    top: 0;
    width: 225px;
    height: 100%;
}

.script-tools-filter {
    position: absolute;
    left: 8px;
    right: 8px;
    top: 8px;
}

.script-tools-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 48px;
    bottom: 0;
    background-color: rgb(64,64,64);
    overflow-x: hidden;
    overflow-y: scroll;
}

.script-parameters {
    position: absolute;
    width: 80%;
    max-width: 300px;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgb(64,64,64);
}

.script-selected-name {
    width: 100%;
    height: 24px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    text-decoration: underline;
}

.script-parameters-options {
    width: 100%;
    height: 64px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: underline;
}

.script-parameters-options > input[type="button"] {
    margin: 8px 2px 4px 2px;
    padding: 0;
    width: 36px;
    min-width: 36px;
    height: 36px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
}

.script-parameters-list {
    position: absolute;
    left: 0;
    right: 0;
    top: 88px;
    bottom: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.script-parameters-list > div:hover > *:nth-child(3){
    visibility: visible;
}

.script-parameters-list > div:hover {
    background-color: rgb(96,96,96);
}

.script-parameters-list > * {
    padding: 4px 8px;
    /*animation: fade-in .4s;*/
}

.script-parameters-list > div > div {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.script-parameters-list > div > div:nth-child(1) { /*label*/
    width: 88px;
}

.script-parameters-list > div > select:nth-child(2),
.script-parameters-list > div > input:nth-child(2),
.script-parameters-list > div > div:nth-child(2) { /*value*/
    display: inline-block;
    width: 150px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2px;
    padding-right: 2px;
}
.script-parameters-list > div > div:nth-child(3) { /*clear*/
    visibility: hidden;
    width: 24px;
    height: 24px;
    margin: 0 0 -4px 4px;
    cursor: pointer;
    background-image: url(res/l_clear.svgz);
    background-repeat: no-repeat;
    background-size: cover;
}

.columns-list {
    max-height: 250px;
    background-color: transparent !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

.script-edit-box {
    position: absolute;
    left: 225px;
    right: 300px;
    top: 0;
    bottom: 0;
    background-color: rgb(160,160,160);
    overflow: scroll;
}

.script-edit-box > svg > g > path {
    animation: svg-fade-in .4s;
}

.script-edit-box-item {
    color: rgb(224,224,224);
    font-weight: 600;
    width: 100%;
    height: 28px;
    padding: 4px 2px 4px 8px;
    box-sizing: border-box;
}

.script-edit-box-item:hover {
    color: rgb(32,32,32);
    background-color: var(--select-color);
}

.script-ghost-node {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 75px;
    box-sizing: border-box;
    z-index: 5;
    text-align: center;
    color: rgb(224,224,224);
    font-weight: 600;
    border: rgb(32,32,32) solid 1px;
    border-radius: 4px;
    /*backdrop-filter: blur(4px);*/
    /*background-color: rgba(64,64,64,0);*/
}

.script-node {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 75px;
    z-index: 5;
    text-align: center;
    color: rgb(224,224,224);
    font-weight: 600;
    border: rgb(32,32,32) solid 1px;
    border-radius: 4px;
}

g > circle#dot {
    cursor: alias;
}

@keyframes svg-fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}