.script-tools-list {
    position: absolute;
    left: 0;
    top: 0;
    width: 225px;
    height: 100%;
    box-shadow: rgb(64,64,64) 0 0 8px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.script-edit-box {
    position: absolute;
    left: 225px;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.script-edit-box-item {
    color: rgb(32,32,23);
    font-weight: 600;
    width: 100%;
    height: 22px;
    padding: 4px 2px;
}

.script-edit-box-item:hover {
    background-color: var(--select-color);
}

.script-node {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 75px;
    z-index: 5;
    text-align: center;
    color: rgb(224,224,224);
    font-weight: 600;
    border: rgb(32,32,32) solid 1px;
    border-radius: 4px;
}

.script-ghost-node {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 75px;
    z-index: 5;
    text-align: center;
    color: rgb(224,224,224);
    font-weight: 600;
    border: rgb(32,32,32) solid 1px;
    border-radius: 4px;
    /*backdrop-filter: blur(4px);*/
    /*background-color: rgba(64,64,64,0);*/
}