.wmi-table {
    color: black;
    border-collapse: collapse;
    margin: 8px;

     user-select: text;
    -webkit-user-select: text;
    -webkit-user-drag: unset;
}
.wmi-table > tr:first-child > td:nth-child(n+2) {
    color: white;
    background-color: #444;
    font-weight: bold;
}

.wmi-table > tr:nth-child(n+2):hover td:nth-child(n+2) {
    background-color: var(--select-color);
}

.wmi-table > tr > td {
    border: #444 2px solid;
    max-width: 500px;
    padding: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wmi-table > tr > td:nth-child(1) {
    text-align: right;
    border-left: none;
    border-bottom: none;
    border-top: none;
    padding-right: 4px;
}

.wmi-table > tr > td:nth-child(n+2) {
    min-width: 50px;
}

.wmi-table {
    counter-reset: eq-wmi-table-count;
}
.wmi-table > tr:nth-child(n+2) > td:nth-child(1):after {
    counter-increment: eq-wmi-table-count;
    content: counter(eq-wmi-table-count);
}

.wmi-classes-list > div {
    padding: 4px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wmi-classes-list > div:hover {
    background-color: var(--select-color);
}

.wmi-properties-list > div {
    padding: 4px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
