<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Protest_RA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
    <userSettings>
        <Protest_RA.Properties.Settings>
            <setting name="ip_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>5810</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value />
            </setting>
            <setting name="uvnc_enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="uvnc_exe" serializeAs="String">
                <value />
            </setting>
            <setting name="uvnc_para" serializeAs="String">
                <value>-autoscaling</value>
            </setting>
            <setting name="uvnc_pass" serializeAs="String">
                <value />
            </setting>
            <setting name="mstsc_enable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="mstsc_exe" serializeAs="String">
                <value>mstsc.exe</value>
            </setting>
            <setting name="mstsc_para" serializeAs="String">
                <value>-f</value>
            </setting>
            <setting name="pse_exe" serializeAs="String">
                <value>psexec.exe</value>
            </setting>
            <setting name="pse_para" serializeAs="String">
                <value />
            </setting>
            <setting name="pse_user" serializeAs="String">
                <value>.\administrator</value>
            </setting>
            <setting name="pse_pass" serializeAs="String">
                <value />
            </setting>
            <setting name="pse_enable" serializeAs="String">
                <value>False</value>
            </setting>
        </Protest_RA.Properties.Settings>
    </userSettings>
</configuration>
