button, input[type="button"], input[type="submit"], input[type="reset"], input[type="color"] {
    font-size: var(--global-font-size);
    font-family: var(--global-font-family);

    background-color: rgb(96,96,96);
    color: rgb(224,224,224);
    outline: 0;
    border: 0;
    min-width: 72px;
    height: 28px;
    margin: 4px;
    border-radius: 4px;
    
    transition: .15s;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="color"]:hover {
    background-color: rgb(112,112,112);
}

button:focus, input[type="button"]:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="color"]:focus {
    animation: inner-glow 2s infinite linear;
}

button:active, input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, input[type="color"]:active {
    background-color: rgb(128,128,128);
}

button:disabled, input[type="button"]:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, input[type="color"]:disabled {
    opacity: .8;
    background-color: rgb(96,96,96) !important;
}


.light-button {
    background-color: rgb(192,192,192) !important;
    color: #202020 !important;
    font-weight: 600;
}

.light-button-withicon {
    padding-left: 32px;
    padding-right: 8px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 4px center;
}

.light-button:hover {
    background-color: rgb(176,176,176) !important;
}
.light-button:active {
    background-color: rgb(160,160,160) !important;
}

@keyframes inner-glow {
    0%   { box-shadow: var(--theme-color) 0 0 1px 1px inset, var(--theme-color) 0 0 2px 1px; }
    50%  { box-shadow: var(--theme-color) 0 0 1px 1px inset, transparent 0 0 2px 1px; }
    100% { box-shadow: var(--theme-color) 0 0 1px 1px inset, var(--theme-color) 0 0 2px 1px; }
}

@keyframes unterline-glow {
    0%   { box-shadow: var(--theme-color) 0 3px 0 0; }
    50%  { box-shadow: var(--theme-color) 0 1px 0 0; }
    100% { box-shadow: var(--theme-color) 0 3px 0 0; }
}