input[type="checkbox"] {
    display: none;
}

label {
    display: inline-block;
    text-align: left;
    min-width: 64px;
    position: relative;
    padding-left: 38px;
    border: 0;
    outline: 0;
}

label::before {
    position: absolute;
    top: 4px;
    left: 0;
    width: 28px;
    height: 16px;
    content: " ";
    border-radius: 4px;
    background-color: var(--control-color);
    transition: .2s;
}

label::after {
    content: " ";
    position: absolute;
    top: 3px;
    left: -1px;
    width: 14px;
    height: 14px;
    margin: 2px 2px;

    border-radius: 4px;
    background-color: rgb(96,96,96);

    transition: transform .2s,
                background-color .4s;
}

label:focus::before {
    animation: inner-glow 2s infinite linear;
}

input[type="checkbox"]:checked + label::after {
    transform: translateX(12px);
    background-color: var(--theme-color);
}
