.chess-board {
    position: absolute;
    z-index: 1;
    transition: left .1s;
}

.chess-square {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    transition: .2s
}

.chess-piece {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .2s;
}

.chess-move-indicator {
    width: 30%;
    height: 30%;
    margin: 35%;
    background-color: var(--theme-color);
    border-radius: 50%;
    opacity: 60%;

    animation: chess-fadein .4s;
}

.chess-coord {
    position: absolute;
    width: 20px;
    height: 24px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    transition: .4s;
}

.chess-sidepanel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: rgb(72,72,72);
    transition: .2s;
}

@keyframes chess-fadein {
    0% {
        transform: scale(.9);
        filter: opacity(0)
    }

    100% {
        transform: none;
        filter: none
    }
}