.chess-board {
    position: absolute;
    z-index: 1;
    border-radius: .5%;
    overflow: hidden;
    transition: left .1s;
}

.chess-square {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
}

.chess-piece {
    position: absolute;
    width: 12.5%;
    height: 12.5%;
    background-size: contain;
    background-repeat: no-repeat;
}

.chess-coord {
    position: absolute;
    width: 20px;
    height: 22px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    transition: .4s;
}

.chess-sidepanel {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: rgb(72,72,72);
    transition: .2s
}