.doc-list-pane {
    position: absolute;
    background-color: rgb(64,64,64);
    left: 0;
    top: 0;
    bottom: 0;
    width: 282px;
    padding-top: 8px;
    padding-left: 8px;

    display: grid;
    grid-template-columns: 72px 200px auto;
    grid-template-rows: 32px 8px auto 8px;
    align-items: baseline;

    transition: .4s;
}

.doc-options {
    position: absolute;
    left: 294px;
    right: 0;
    top: 4px;
    height: 40px;
    overflow: hidden;

    transition: .4s;
}

.doc-options-collapsed > input[type=button] {
    color: transparent !important;
    width: 32px;
    min-width: 32px;
    padding-left: 0;
}

.doc-body-outer {
    position: absolute;
    left: 298px;
    right: 0;
    top: 48px;
    bottom: 0;

    transition: .4s;
}

.doc-body-outer > * {
    position: absolute;
}

.doc-body-outer > .lblTitle {
    left: 4px;
    top: 8px;
}

.doc-body-outer > .txtTitle {
    left: 160px;
    top: 4px;
    width: calc(100% - 188px);
    max-width: 250px;
}

.doc-body-outer > .lblError {
    left: 4px;
    top: 48px;
}

.doc-body-outer > .txtError {
    left: 160px;
    top: 44px;
    width: calc(100% - 188px);
    max-width: 250px;
}

.doc-body-outer > .lblRelated {
    left: 4px;
    top: 88px;
}

.doc-body-outer > .divRelated {
    left: 160px;
    right: 36px;
    top: 84px;
    height: 48px;
    margin-left: 4px;
    background-color: rgb(192,192,192);
    border-radius: 4px;
    overflow-y: auto;

    transition: .4s;
}

.doc-edit-button {
    position: absolute;
    top: 138px;
    min-width: 32px;
    width: 32px;
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
}

.doc-body-outer > .divContentContainer {
    background-color: rgb(192,192,192);
    color: rgb(32,32,32);
    left: 4px;
    right: 8px;
    top: 176px;
    bottom: 8px;
    padding: 8px;
    overflow-y: scroll;
    border: 1px solid rgb(192,192,192);
    border-radius: 4px;

    user-select: text;
    -webkit-user-drag: text;

    transition: .4s;
}

/*.doc-body-outer > .divContentContainer a {
    color: var(--select-color);
    text-decoration: underline;
    background-color: rgb(56,56,56);
    border-radius: 2px;
    padding: 1px 2px;
}*/

.doc-body-outer > .divContentContainer .doc-code {
    width: 100%;
    min-height: 1em;
    color: #C0C0C0;
    background-color: #202020;
    font-family: monospace;
    box-sizing: border-box;
    padding: 4px 8px 2px 8px;

}

.doc-body-outer > .divContentContainer .doc-code + .doc-code {
    padding-top: 2px;
}
