.smb-content {
    display: grid;
    grid-template-rows: 36px auto;
    grid-template-columns: auto;
}

.smb-bar {
    position: relative;
    grid-area: 1 / 1;
    padding: 0;
    margin: 0 2px;
    background: linear-gradient(rgb(96,96,96), rgb(80,80,80));
    border-radius: 2px;
}


.smb-list {
    grid-area: 2 / 1;
    background-color: var(--pane-color);
    margin: 8px;
    padding: 4px;
    border-radius: 4px;
    overflow-y: scroll;
}

.smb-list:empty::after {
    display: block;
    content: "directory is empty";
    color: #808080;
    margin-top: 20px;
    text-align: center;
    animation: fade-in .8s ease-in;
}


.smb-nav-button {
    display: inline-block;
    width: 38px;
    height: 32px;
    border-radius: 4px;
    margin: 2px 2px;

    background-position: center;
    background-size: 26px;
    background-repeat: no-repeat;
    transition: .2s;
}

.smb-nav-button:hover {
    background-color: #444;
}
.smb-nav-button:active {
    background-color: #333;
}

.btnView-list > div {
    position: absolute;
    background-color: #C0C0C0;
    width: 24px;
    height: 4px;
    border-radius: 2px;
    transition: .4s;
}

.btnView-grid > div {
    position: absolute;
    background-color: #C0C0C0;
    width: 14px;
    height: 10px;
    border-radius: 2px;
    transition: .4s;
}

.btnView-list > div:nth-child(1) {left:8px; top:4px;}
.btnView-list > div:nth-child(2) {left:8px; top:11px;}
.btnView-list > div:nth-child(3) {left:8px; top:18px;}
.btnView-list > div:nth-child(4) {left:8px; top:25px;}

.btnView-grid > div:nth-child(1) {left:4px;  top:4px;}
.btnView-grid > div:nth-child(2) {left:22px; top:4px;}
.btnView-grid > div:nth-child(3) {left:4px;  top:18px;}
.btnView-grid > div:nth-child(4) {left:22px; top:18px;}

.smb-path {
    position: absolute;
    left: 254px;
    right: 40px;
    top: 4px;
    bottom: 4px;
    color: #C0C0C0;
    overflow: hidden;
}

.smb-path > div {
    display: inline-block;
    overflow: hidden;
    padding: 4px;
    margin-right: 20px;
    border-radius: 2px;
}

.smb-path > div:nth-child(n+2)::before {
    position: absolute;
    content: " ";
    width: 20px;
    height: 20px;

    border-right: 6px solid #C0C0C0;
    border-top: 6px solid #C0C0C0;
    transform: translate(-28px, -2px) rotate(45deg) scale(.3);
}

.smb-path > div:hover {
    background-color: #444;
}
.smb-path > div:active {
    background-color: #333;
}

.smb-entry {
    display: inline-block;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.smb-entry:hover {
    background-color: var(--highlight-color);
}

.smb-entry > div {
    display: inline-block;
    color: #202020;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 28px;
}

.smb-list > div > div:nth-child(1) {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: right;
}

.smb-listview > div {
    width: 100%;
    height: 28px;
}
.smb-listview > div > div:nth-child(1) > div { /*extention*/
    display: inline-block;
    line-height: initial;
    font-size: 6px;
    font-weight: 700;
    color: #404040;
    padding: 0px 1px;
    margin-right: 4px;
    border-radius: 2px;

    max-width: 16px;
    white-space: nowrap;
    overflow: hidden;
}
.smb-listview > div > div:nth-child(1) { width:28px; height:28px; padding-left:8px; }
.smb-listview > div > div:nth-child(2) { width:calc(50% - 36px); }
.smb-listview > div > div:nth-child(3) { width:30%; }
.smb-listview > div > div:nth-child(4) { width:20%; }

.smb-gridview > div {
    width: 112px;
    height: 112px;
}
.smb-gridview > div > div:nth-child(1) > div { /*extention*/
    display: inline-block;
    line-height: initial;
    font-size: 12px;
    font-weight: 700;
    color: #404040;
    padding: 2px 8px;
    margin-right: 16px;
    transform: translateY(40px);
    border: 2px solid #404040;
    border-radius: 4px;

    max-width: 96px;
    white-space: nowrap;
    overflow: hidden;
}
.smb-gridview > div > div:nth-child(1) { width:100%; height:80px;}
.smb-gridview > div > div:nth-child(2) { width:100%; font-size:small; text-align:center;}
.smb-gridview > div > div:nth-child(3) { display:none; }
.smb-gridview > div > div:nth-child(4) { display:none; }
