.gandalf-content {
    display: grid;
    grid-template-columns: auto minmax(150px, 960px) auto;
    grid-template-rows: auto 440px 32px auto;
    overflow: hidden;
    overflow-y: auto;
}

.gandalf-roll {
    grid-area: 2 / 2;
    background-color: var(--pane-color);
    color: #202020;
    margin: 8px;
    padding: 16px;
    border-radius: 4px;
    overflow-y: auto;

    transition: .4s;
}

.gandalf-buttons {
    grid-area: 3 / 2;
    text-align: center;
}
