
.lst-strength-ele {
    position: relative;
    height: 28px;
    border-bottom: rgb(128,128,128) 1px solid;
    transition: background-color .2s;
}

.lst-strength-ele:hover {
    background-color: var(--highlight-color);
}

.lst-strength-ele > * {
    position: absolute;
}

.lst-strength-ico {
    left: 1px;
    top: 2px;
    width: 24px;
    height: 24px;
    background-size: contain;
}

.lst-strength-lbl-0, .lst-strength-lbl-1, .lst-strength-lbl-2, .lst-strength-lbl-3, .lst-strength-lbl-4, .lst-strength-lbl-5, .lst-strength-lbl-6, .lst-strength-lbl-7 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lst-strength-lbl-0 {
    font-weight: 600;
    width: calc(35% - 32px);
    left: 28px;
    top: 4px;
}

.lst-strength-lbl-2 {
    width: 15%;
    left: 35%;
    top: 4px;
}

.lst-strength-bar {
    left: 50%;
    top: 8px;
    width: 40px;
    height: 12px;
    border: #202020 solid 1px;
    border-radius: 2px;
    filter: brightness(.85);
}

.lst-strength-lbl-4 {
    width: calc(25% - 48px);
    left: calc(50% + 48px);
    top: 4px;
}

.lst-strength-lbl-6 {
    width: 25%;
    left: 75%;
    top: 4px;
}
