#btnMenu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    z-index: 16777271;
    overflow: hidden;
    border-radius: 4px 8px 48px 8px;
    background: var(--toolbar-bg-rev);
    box-shadow: rgba(0,0,0,.2) 2px 2px 2px;
    transition: filter .4s, border-radius .4s, width .2s, height .2s;
}

#divIcon {
    position: relative;
    left: 8px;
    top: 6px;
    width: 26px;
    height: 26px;
    transform-origin: 0 0;
    background-image: url(res/logo.svg);
    background-size: cover;
    transition: .2s;
    transition-delay: .08s;
}

#menu {
    background: var(--bg-light);
    background: #202020;
    position: absolute;
    border-radius: 4px;
    left: 16px;
    top: 16px;
    bottom: 16px;
    z-index: 16777270;
    width: var(--sidemenu-width);
    overflow: hidden;
    visibility: hidden;
    transition: .2s;
}

@media only screen and (max-width: 460px) {
    #menu {
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        bottom: 0 !important;
        width: 100% !important;
        height: 100% !important;
    }
}

#searchbox {    
    position: absolute;
    left: 32px;
    right: 32px;
    top: 32px;
    height: 36px;

    cursor: text;
    border: #c0c0c0 1px solid;
    border-radius: 4px;
}

#searchbox > #imgSearch {
    position: absolute;
    left: 4px;
    top: 4px;
    width: 28px;
    height: 28px;
    background-image: url(res/search.svg);
    background-size: cover;
    filter: invert(1);
}


#searchbox > input[type=text] {
    position: absolute;
    left: 40px;
    top: 0px;
    width: calc(100% - 80px);
    background-color: transparent;
    font-size: 22px;
    color: #c0c0c0;

    outline: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 1px 0px 2px 0px !important;
    margin: 2px 0px !important;

    animation: none;
}

#searchbox > input[type=text]::selection {
    background: #444;
    color: #fff;
}

#searchbox > #btnSearchClear {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    cursor: default;
    background-image: url(res/delete.svg);
    background-size: 20px 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: invert(1);

    transition: .1s;
}

#searchbox > #btnSearchClear:hover {
    background-color: #bbb;
}

#searchbox > #btnSearchClear:active {
    background-color: #ccc;
}

#menulist {
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 48px;
    top: 80px;

    overflow-x: hidden;
    overflow-y: scroll;
}


.sidemenu-item {
    position: relative;
    height: 44px;
    color: rgb(32,32,32);
    font-size: 16px;
    background-color: rgb(208,208,208);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 4px 2px;
    border-top: rgb(192,192,192) 1px solid;
    border-right: rgb(48,48,48) 1px solid;
    transition: .1s;
}

.sidemenu-square-item {
    display: inline-grid;
    width: calc(33.33% - 4px);
    height: 96px;
    color: rgb(32,32,32);
    font-size: 14px;
    background-color: rgb(208,208,208);
    background-repeat: no-repeat;
    background-size: 64px 64px;
    background-position: center 4px;
    border-radius: 2px;
    margin: 2px;
    transition: .1s;
}

.sidemenu-item:hover,
.sidemenu-square-item:hover {
    transition: .4s;
    background-color: var(--select-color) !important;
}

.sidemenu-item > div {
    margin-left: 52px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sidemenu-square-item > div {
    position: relative;
    height: 22px;
    top: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}

.sidemenu-item > div:first-child,
.sidemenu-square-item > div:first-child{
    font-weight: 600;
}

.sidemenu-item > div:nth-child(3) {
    position: absolute;
    bottom: 2px;
    right: 4px;
}

#btnSettings, #btnLogout {
    position: absolute;
    width: 40px;
    height: 36px;
    bottom: 4px;
    margin: 2px;
    line-height: 2.1;

    color: #C0C0C0;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: 4px 2px;
    box-shadow: #C0C0C0 0 0 0 1px;

    border-radius: 2px;
    transition: .2s;
}

#btnSettings {
    right: 52px;
    background-image: url("res/l_tool02.svgz");
}

#btnLogout {
    right: 4px;
    background-image: url("res/l_logoff.svgz");
}

#btnSettings:hover, #btnLogout:hover {
    background-color: rgb(72,72,72);
}

#btnSettings:active, #btnLogout:active {
    background-color: rgb(56,56,56);
} 
