.w-dog-side {
    position: absolute;
    display: grid;
    grid-template-columns: 84px 150px;
    grid-template-rows: repeat(4, 32px);
    align-items: baseline;
    left: 8px;
    top: 40px;
    bottom: 8px;
    width: 250px;
    overflow-y: auto;
}
.w-dog-timeline {
    cursor: grab;
    position: absolute;
    left: 262px;
    right: 8px;
    top: 4px;
    height: 32px;
    overflow: hidden;
}

.w-dog-timeline > div {
    border-radius: 4px;
}

.w-dog-timeline:hover > div:nth-child(1) {
    transition: .4s;
    box-shadow: var(--theme-color) 12px 0 8px -8px inset;
}

.w-dog-timeline:hover > div:nth-child(2) {
    transition: .4s;
    box-shadow: var(--theme-color) -12px 0 8px -8px inset;
}

.w-dog-timeline > svg {
    position: absolute;
}

.w-dog-view {
    position: absolute;
    left: 262px;
    right: 8px;
    top: 40px;
    bottom: 8px;
    border-radius: 4px;
    background-color: var(--pane-color);
    color: #202020;
    overflow-y: scroll;
}

.w-dog-view > div {
    padding: 1px 0;
}

.w-dog-view > div:hover {
    background-color: var(--highlight-color);
}

.w-dog-view > div > * {
    display: inline-block;
    height: 20px;
}

.w-dog-view > div > div:nth-child(1) {
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-left: 4px;
    border: 1px solid transparent;

    background-size: 20px 20px;
    background-repeat: no-repeat;

    transition: .2s;
}

.w-dog-view > div:hover > div:nth-child(1) {
    background-image: url(res/close.svgz) !important;
    border: 1px solid #202020;
    border-radius: 50%;
}

.w-dog-view > div > div:nth-child(1):active {
    background-color: rgba(32,32,32,.2);
}

.w-dog-view > div > div:nth-child(2) {
    line-height: 16px;
    margin-left: 4px;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: text;
}

.w-dog-view > div > div:nth-child(3) {
    position: absolute;
    left: 232px;
    right: 0px;
    margin-top: 5px;
    overflow: hidden;
}
.w-dog-view > div > div:nth-child(3) > div {
    position: absolute;
    width: 12px;
    height: 12px;
    right: 0;
    border-radius: 4px;
    margin-top: 4px;

    filter: brightness(.85);
}
